<template>
  <div class="flex items-center" @click="$refs.pickButton.focus()">
    <v-date-picker v-model="model" :popover="{ visibility: 'focus' }">
      <button ref="pickButton" class="p-3 text-blue" :class="{'text-blue-light italic': !date}">{{ date || "Pick a date" }}</button>
    </v-date-picker>
    <button
      v-if="model"
      @click="model = null"
      class="flex justify-center items-center w-6 h-6 text-grey bg-grey-lighter rounded-full"
      title="Clear date"
    >
      &times;
    </button>
  </div>
</template>

<script>
import moment from "moment";

export default {
  name: "Date",
  icon: "regular/calendar",

  props: {
    field: {
      required: true
    },
    value: {
      required: true
    }
  },

  computed: {
    model: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      }
    },

    date() {
      return this.model ? moment(this.model).format('MMMM Do YYYY') : null;
    }
  }
};
</script>
