<template>
  <div class="p-4 m-1 border-l-4 border-yellow bg-yellow-lightest">
    <p class="uppercase text-xs tracking-wide text-yellow-darker">
      Unknown Field <strong>{{ field.type }}</strong>
    </p>

    <label v-if="!fieldIsArray">
      <input
        type="text"
        v-model="model"
        class="flex-grow p-2 mt-2 mr-1 bg-yellow-lighter font-mono w-full"
      />
    </label>

    <label v-else v-for="(value, key) in value" class="flex items-center p-2">
      <strong class="w-1/5 text-right mr-4">{{ key }}</strong>
      <input
        type="text"
        v-model="model[key]"
        class="flex-grow p-2 bg-yellow-lighter"
      />
    </label>
  </div>
</template>

<script>
import { isString, isNumber } from "lodash";

export default {
  props: {
    field: {
      required: true
    },
    value: {
      required: true
    }
  },

  computed: {
    model: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      }
    },

    fieldIsArray() {
      return !isString(this.value) && !isNumber(this.value)
    }
  }

};
</script>
