<template>
    <documents-loader
      ref="documentLoader"
      v-if="this.groupUuid && this.group || !this.groupUuid"
      :group-id="group ? group.id : null"
      v-slot="{
        groups,
        currentGroup,
        documents,
        currentPage,
        lastPage,
        loadNextPage
      }"
      class="default-screen"
    >
      <header
        class="grid-header flex items-center justify-between px-4 py-3 border-b border-grey-light text-sm"
      >
        <nav class="font-bold">
          <router-link :to="{ name: 'BrowseDocuments' }" class="breadcrumb-link">
            Home
          </router-link>
          <span v-if="parent">
          <span v-if="parent.parent_id">&hellip;</span>
          <svg-icon
            name="bold/arrow-right-1"
            class="fill text-grey-darker w-3"
          ></svg-icon>
          <router-link
            :to="{ name: 'BrowseGroup', params: { groupUuid: parent.uuid } }"
            class="breadcrumb-link"
            v-if="group"
          >
            {{ parent.name }}
          </router-link>
        </span>
          <span v-if="group">
          <svg-icon
            name="bold/arrow-right-1"
            class="fill text-grey-darker w-3"
            v-if="group"
          ></svg-icon>
          {{ group.name }}
        </span>

          <router-link
            v-if="group"
            :to="{ name: 'EditGroup', params: { uuid: group.uuid } }"
            class="inline-block p-2 text-blue hover:text-blue-dark text-sm no-underline"
            :title="`Edit ${group.name} Group`"
          >
            <svg-icon name="bold/edit" class="fill w-4 h-4"></svg-icon>
          </router-link>
        </nav>

        <section class="ml-auto mr-1">
          <!--<span
            :title="`${total} documents`"
            class="inline-block rounded-full bg-grey-lighter text-grey text-xs py-1 px-2"
            v-if="total"
            >{{ total }}</span
          >-->
          <section class="inline-block border-r pr-2 mr-2">
            <input-button
              title="Show document as icons"
              type="text"
              :color="listStyle === 'icons' ? 'blue' : 'grey'"
              class="p-2"
              @click="listStyle = 'icons'"
            >
              <svg-icon
                name="bold/layout-module-1"
                class="fill w-4 h-4"
              />
            </input-button>
            <input-button
              title="Show documents in a list"
              type="text"
              :color="listStyle === 'list' ? 'blue' : 'grey'"
              class="p-2"
              @click="listStyle = 'list'"
            >
              <svg-icon
                name="bold/list-bullets-1"
                class="fill w-4 h-4"
              />
            </input-button>
          </section>

          <router-link
            :to="{ name: 'NewGroup', params: { groupUuid: groupUuid } }"
            class="inline-block p-2 text-blue hover:text-blue-dark text-sm no-underline"
          >
            <svg-icon name="bold/folder-add" class="fill w-4 h-4 mr-1"></svg-icon>
            New Group
          </router-link>
          <router-link
            :to="{ name: 'NewDocument', params: { groupUuid: groupUuid } }"
            class="inline-block p-2 text-blue hover:text-blue-dark text-sm no-underline"
          >
            <svg-icon
              name="bold/common-file-add"
              class="fill w-4 h-4 mr-1"
            />
            New {{group ? group.getMetaOption('documentTitle', 'Document') : 'Document'}}
          </router-link>
        </section>

        <document-search/>
      </header>

      <document-list
        v-if="groups !== null"
        :group="currentGroup"
        :groups="currentGroup ? currentGroup.children : []"
        :documents="documents"
        :list-style="listStyle"
        :current-page="currentPage"
        :last-page="lastPage"
        @next-page="loadNextPage"
        @open-group="openGroup"
        @open-document="openDocument"
      />
    </documents-loader>
</template>

<script>
import Group from "../models/Group";
import DocumentSearch from "../components/DocumentSearch";
import DocumentsLoader from "../components/DocumentsLoader";
import DocumentList from "../components/DocumentList";

export default {
  components: {
    DocumentSearch,
    DocumentsLoader,
    DocumentList
  },

  props: {
    groupUuid: {
      default: null
    }
  },

  data: () => ({
    listStyle: "icons",
    group: null
  }),

  computed: {
    parent() {
      if (this.group && this.group.parent) {
        return this.group.parent;
      }

      return null;
    }
  },

  methods: {
    loadCurrentGroup() {
      if (!this.groupUuid) {
        return this.group = null;
      }

      Group
        .include("parent")
        .find(this.groupUuid)
        .then(payload => {
          this.group = new Group(payload.data);
          this.listStyle = this.group.getMetaOption('listType', 'icons')
        });
    },

    openGroup(group) {
      this.$router.push({name: 'BrowseGroup', params: { groupUuid: group.uuid }});
    },

    openDocument(document) {
      this.$router.push({name: 'EditDocument', params: { uuid: document.uuid }});
    }
  },

  created() {
    this.loadCurrentGroup();
  },

  watch: {
    groupUuid() {
      this.loadCurrentGroup();
    }
  }
};
</script>
