<template>
  <document-builder :uuid="groupUuid"></document-builder>
</template>

<script>
import DocumentBuilder from "./DocumentBuilder";

export default {
  components: { DocumentBuilder },

  props: {
    groupUuid: {
      required: true
    }
  },

  inject: ['blockLeave'],

  beforeRouteLeave(to, from, next) {
    this.blockLeave(to, from, next)
  }
};
</script>
