<template>
  <div class="inspector-grid h-screen bg-white">
    <header
      class="grid-header flex border-b items-center justify-between p-4 text-sm"
    >
      <nav class="font-bold">
        <directory-breadcrumbs :path.sync="storagePath"></directory-breadcrumbs>
      </nav>

      <section class="flex">
        <file-search
          :files.sync="searchResults"
          v-model="searchQuery"
        ></file-search>
        <input-button
          type="text"
          class="mr-2"
          @click="newDirectoryDialog = true"
        >
          <svg-icon name="bold/folder-add" class="w-4 h-4 fill"></svg-icon>
          New folder
          <create-directory-dialog
            :is-open.sync="newDirectoryDialog"
            :path="path"
          ></create-directory-dialog>
        </input-button>

        <file-upload :path="path"></file-upload>
      </section>
    </header>

    <section class="w-full p-4 overflow-auto">
      <section v-if="searchResults">
        <header class="my-4 text-grey-darkest text-xl">Results for "{{ searchQuery }}"</header>
        <file-list
          :files="searchResults"
          :selection-linked-elements="$refs.inspector"
          @select-file="selectFile"
          @deselect-file="deselectFile"
        ></file-list>
      </section>
      <storage-navigator
        v-else
        :path.sync="storagePath"
        :selection-linked-elements="$refs.inspector"
        @select-file="selectFile"
        @deselect-file="deselectFile"
      ></storage-navigator>
    </section>

    <aside class="flex" ref="inspector">
      <section
        class="flex flex-col w-full bg-grey-darkest text-grey m-2 p-4 rounded shadow"
      >
        <file-inspector :file="selected" v-if="selected"></file-inspector>

        <directory-inspector
          v-else-if="path && path !== '/'"
          :path="path"
        ></directory-inspector>
      </section>
    </aside>

  </div>
</template>

<script>
import StorageNavigator from "../components/StorageNavigator";
import FileSearch from "../components/FileSearch";
import FileUpload from "../components/FileUpload";
import FileInspector from "../components/FileInspector";
import CreateDirectoryDialog from "../components/CreateDirectoryDialog";
import DirectoryBreadcrumbs from "../components/DirectoryBreadcrumbs";
import DirectoryInspector from "../components/DirectoryInspector";
import FileList from "../components/FileList";

export default {
  components: {
    FileList,
    StorageNavigator,
    DirectoryInspector,
    DirectoryBreadcrumbs,
    FileUpload,
    FileSearch,
    FileInspector,
    CreateDirectoryDialog
  },

  props: {
    path: {
      default: null
    }
  },

  data: () => ({
    selected: null,
    newDirectoryDialog: false,
    searchQuery: "",
    searchResults: null
  }),

  computed: {
    storagePath: {
      get() {
        return this.path;
      },
      set(path) {
        this.$router.push({ name: "BrowseFiles", params: { path: path } });
      }
    }
  },

  methods: {
    selectFile(file) {
      this.selected = file;
    },

    deselectFile() {
      this.selected = null;
    }
  }
};
</script>
