<template>
  <div class="inspector-grid bg-white h-screen overflow-hidden" v-if="group">
    <header class="grid-header flex border-b items-center justify-between p-4">
      <input-text
        class="text-2xl"
        placeholder="Give the group a name…"
        v-model="group.name"
        autofocus
      ></input-text>
      <section class="text-sm leading-none">
        <input-button type="text" color="grey" @click="close"
          >Close
        </input-button>
        <input-button
          type="solid"
          color="green"
          class="px-4 font-bold"
          @click="save"
          >Save
        </input-button>
      </section>
    </header>

    <main class="flex flex-col h-full p-4 overflow-auto">
      <header class="flex justify-between items-center h-12">
        <section class="font-bold">Schema</section>
        <section class="px-2 py-1 rounded text-sm text-red-lightest bg-red-dark" v-if="jsonError">
          <span>Error</span>
          <span>{{ jsonError }}</span>
        </section>
      </header>

      <code-editor v-model="schema" class="h-full overflow-auto rounded"></code-editor>
    </main>

    <aside class="p-6 w-full text-xs text-grey">
      <section class="uppercase tracking-wide text-xs text-grey-dark">
        <label class="block mt-3">
          <span class="block text-grey mb-1">Slug</span>
          <input-text
            v-model="group.slug"
            class="text-sm w-full"
          ></input-text>
        </label>

        <label class="flex justify-between items-center mt-3">
          Schema Locked
          <input-switch
            v-model="group.meta.schemaLocked"
            class="ml-2"
          ></input-switch>
        </label>

        <label class="block mt-3">
          <span class="block text-grey mb-1">Document Title</span>
          <input-text
            v-model="group.meta.documentTitle"
            class="text-sm w-full"
          ></input-text>
        </label>

        <label class="block mt-3">
          <span class="block text-grey mb-1">Default List Type</span>
          <input-select
            v-model="group.meta.listType"
            :options="{list: 'List', icons: 'Icons'}"
            class="text-sm w-full"
          ></input-select>
        </label>
      </section>

      <section v-if="group.id" class="mt-6">
        <p class="mb-2">
          Group UUID:
          <span class="select-text font-mono">{{ group.uuid }}</span>
        </p>
        <p class="mb-2">Created: {{ group.created_at }}</p>
        <input-button
          type="text"
          color="red"
          subtle
          class="text-sm -ml-3"
          @click="confirmRemoval = true"
        >
          <svg-icon name="bold/bin" class="fill w-5 mr-1"></svg-icon>
          Delete this Group
        </input-button>

        <ui-dialog
          title="Permanently delete this group?"
          icon="bold/bin"
          color="red"
          :is-open.sync="confirmRemoval"
        >
          <p>Please confirm that you want to permanently delete this group.</p>
          <template slot="footer">
            <input-button type="text" color="red" @click="remove"
              >Yes, delete {{ group.name || "group" }}
            </input-button>
            <input-button type="solid" @click="confirmRemoval = false"
              >No, cancel
            </input-button>
          </template>
        </ui-dialog>
      </section>
    </aside>
  </div>
</template>

<script>
import CodeEditor from "../components/CodeEditor";
import Group from "../models/Group";

export default {
  components: {
    CodeEditor
  },

  props: {
    uuid: {
      default: null
    },
    groupUuid: {
      default: null
    }
  },

  data: () => ({
    group: null,
    confirmRemoval: false,
    schema: "",
    parentGroup: null
  }),

  computed: {
    jsonError() {
      try {
        JSON.parse(this.schema);
        return false;
      } catch (e) {
        return e.message;
      }
    }
  },

  created() {
    if (this.uuid) {
      Group.find(this.uuid).then(group => {
        this.group = group.data;
        try {
          this.schema = JSON.stringify(this.group.schema, null, 2);
        } catch (e) {
          this.schema = "";
        }
        if (!this.group.meta) {
          this.group.meta = {
            schemaLocked: false,
            documentTitle: null,
            listType: 'icons'
          };
        }
      });
    } else {
      this.group = new Group({
        name: null,
        parent_id: null,
        schema: [],
        meta: {
          schemaLocked: false,
          documentTitle: null,
          listType: 'icons'
        }
      });

      this.schema = JSON.stringify(this.group.schema, null, 2);
    }

    if (this.groupUuid) {
      Group.find(this.groupUuid).then(group => {
        this.parentGroup = group.data;
        if (!this.group.parent_id) {
          this.group.parent_id = this.parentGroup.id;
        }
      });
    }
  },

  methods: {
    close() {
      return this.$router.push({
        name: "BrowseGroup",
        params: { groupUuid: this.group.uuid }
      });
    },

    save() {
      try {
        this.group.schema = JSON.parse(this.schema);
      } catch (e) {
        this.$notify({
          group: "general",
          type: "warning",
          title: "Failed to save group",
          text: e.message
        });
        return false;
      }

      this.$store.dispatch("Groups/saveGroup", this.group).then(
        () => {
          this.$notify({
            group: "general",
            type: "success",
            title: `Group "${this.group.name}" saved`
          });
        },
        () => {
          this.$notify({
            group: "general",
            type: "warning",
            title: "Failed to save group",
            text: "Please make sure you've entered a name"
          });
        }
      );
    },

    remove() {
      this.$store.dispatch("Groups/deleteGroup", this.group).then(
        () => {
          this.$notify({
            group: "general",
            type: "error",
            title: "Group Deleted"
          });
          this.close();
        },
        () => {
          this.$notify({
            group: "general",
            type: "success",
            title: "Failed to delete group"
          });
        }
      );
    }
  }
};
</script>
