<template>
  <div class="text-sm">
    <button
      class="bg-white px-4 py-2 truncate rounded-full text-grey-darker hover:bg-grey-lightest"
      @click="addField('content')"
    >
      <svg-icon
        name="streamline/regular/paragraph-normal"
        class="h-6 mr-1 text-green"
      ></svg-icon>
      <span>Content</span>
    </button>
    <button
      class="bg-white px-4 py-2 truncate rounded-full text-grey-darker hover:bg-grey-lightest"
      @click="addField('media')"
    >
      <svg-icon
        name="streamline/regular/picture-polaroid"
        class="h-6 mr-1 text-green"
      ></svg-icon>
      <span>Media</span>
    </button>
    <button
      class="bg-white px-4 py-2 truncate rounded-full text-grey-darker hover:bg-grey-lightest"
      v-for="block in blocks"
      @click="addField('template', block)"
    >
      <svg-icon
        name="streamline/regular/module"
        class="h-6 mr-1 text-green"
      ></svg-icon>
      <span>{{ block.name }}</span>
    </button>
    <button
      class="bg-white px-2 py-2 truncate rounded-full text-grey-darker hover:bg-grey-lightest hover:text-green"
      @click="moreFieldsOpen = true"
    >
      <svg-icon name="fields/more" class="h-6 fill mr-1"></svg-icon>
      <span>More Fields</span>
    </button>

    <ui-dialog
      title="Add a new field"
      icon="bold/fields"
      color="green"
      :is-open.sync="moreFieldsOpen"
    >
      <section class="flex justify-around">
        <button class="m-2 text-sm text-center" @click="addField('text')">
          <figure
            class="flex items-center justify-center w-20 h-20 py-2 px-3 mx-auto mb-2 border rounded shadow hover:border-green"
          >
            <svg-icon
              name="streamline/regular/type-cursor-1"
              class="h-8 text-green"
            ></svg-icon>
          </figure>
          <strong>Text</strong>
        </button>
        <button class="m-2 text-sm text-center" @click="addField('date')">
          <figure
            class="flex items-center justify-center w-20 h-20 py-2 px-3 mx-auto mb-2 border rounded shadow hover:border-green"
          >
            <svg-icon
              name="streamline/regular/calendar-3"
              class="h-8 text-green"
            ></svg-icon>
          </figure>
          <strong>Date &amp; time</strong>
        </button>
        <button class="m-2 text-sm text-center" @click="addField('document')">
          <figure
            class="flex items-center justify-center w-20 h-20 py-2 px-3 mx-auto mb-2 border rounded shadow hover:border-green"
          >
            <svg-icon
              name="streamline/regular/common-file-double-1"
              class="h-8 text-green"
            ></svg-icon>
          </figure>
          <strong>Link document</strong>
        </button>
      </section>
    </ui-dialog>
  </div>
</template>

<script>
import fields from "./fields";

export default {
  data: () => ({
    moreFieldsOpen: false
  }),

  computed: {
    blocks() {
      return this.$store.getters["Templates/blocks"];
    },

    fields() {
      return fields.getFields();
    }
  },

  methods: {
    addField(type, block) {
      this.moreFieldsOpen = false;
      this.$emit("add-field", type, block);
    }
  }
};
</script>
