<template>
  <div class="inspector-grid bg-dots overflow-hidden">

    <section class="overflow-auto">
      <draggable class="max-w-lg w-full mx-auto grid grid-gap-2 py-4" v-model="block.content.fields"
                 :options="{group: {name: 'fields', pull: false}, animation: 100, handle: '.handle'}">

        <template-field v-for="field in block.content.fields" :key="field.uuid"
                        :field="field" @remove="removeField"
                        class="mb-4"></template-field>

        <div v-if="!block.content.fields.length"
             class="bg-white border border-blue border-dashed rounded text-blue text-center px-3 py-6">
          <p class="uppercase tracking-wide font-bold mb-2">Drop fields here</p>
          Choose which fields you want to add to this block
        </div>
      </draggable>

      <footer class="p-6 max-w-xl mx-auto text-xs text-grey" v-if="block.id">
        <p class="mb-2">Block UUID: <span class="select-text font-mono">{{block.uuid}}</span></p>
        <input-button type="text" color="red" subtle class="text-sm -ml-3" @click="confirmRemoval = true">
          <svg-icon name="bold/bin" class="fill w-5 mr-1"></svg-icon>
          Delete this Block
        </input-button>
        <ui-dialog title="Permanently delete this block?" icon="bold/bin" color="red" :is-open.sync="confirmRemoval">
          <p>Please confirm that you want to permanently delete this block.</p>
          <template slot="footer">
            <input-button type="text" color="red" @click="remove">Yes, delete the block</input-button>
            <input-button type="solid" @click="confirmRemoval = false">No, cancel</input-button>
          </template>
        </ui-dialog>
      </footer>
    </section>

    <aside class="bg-blue-darkest">
      <draggable v-model="fields" class="grid grid-columns-2 grid-gap-4 p-3"
                 :options="{sort: false, group:{ name:'fields',  pull:'clone', put:false }}"
                 :clone="cloneField">
        <div v-for="field in fields" class="text-center text-blue-lightest bg-blue rounded p-2 w-full">
          <field-icon :field-type="field.type"></field-icon>
        </div>
      </draggable>
    </aside>

  </div>
</template>

<script>
import { cloneDeep, map, without, tap, kebabCase } from "lodash";
import uuidv4 from "uuid/v4";
import draggable from "vuedraggable";
import fields from "./fields";
import TemplateField from "./TemplateField";
import FieldIcon from "./FieldIcon";

export default {
  props: {
    block: {
      required: true
    }
  },

  components: {
    TemplateField,
    FieldIcon,
    draggable
  },

  data: () => ({
    blockFields: [],
    confirmRemoval: false
  }),

  computed: {
    fields: () => {
      return map(fields.fieldComponents(), (field, key) => {
        return {
          type: kebabCase(field.name)
        };
      });
    }
  },

  methods: {
    cloneField(field) {
      return tap(cloneDeep(field), field => {
        field.label = "";
        field.variable = "";
        field.uuid = uuidv4();
      });
    },

    removeField(field) {
      this.block.content.fields = without(this.block.content.fields, field);
    },

    remove() {
      this.$store.dispatch("Templates/deleteTemplate", this.block).then(
        () => {
          this.$message({ type: "success", message: "Block Deleted" });
          this.$router.push("/templates");
        },
        () => {
          this.$message({
            type: "error",
            message: "Failed to delete block"
          });
        }
      );
    }
  }
};
</script>
