<template>
  <codemirror :value="code" v-on="$listeners" :options="options" class="w-full"></codemirror>
</template>

<script>
import { codemirror } from "vue-codemirror";
import "codemirror/lib/codemirror.css";
import "codemirror/theme/material.css";

export default {
  components: {
    codemirror
  },

  model: {
    prop: 'code',
    event: 'input'
  },

  props: {
    code: {
      required: true,
      type: String
    }
  },

  data: () => ({
    options: {
      mode: 'application/json',
      theme: 'material',
      lineNumbers: true,
      smartIndent: true,
      matchBrackets: true
    }
  })
};
</script>

<style>
  .CodeMirror {
    font-size: 1.2rem;
    line-height: 1.8rem;
    height: 100%;
    width: 100%;
  }
</style>
