<template>
  <div class="flex items-center" :title="name">
    <field-icon :field-type="field.type" hide-label icon-class="w-6 mr-3"></field-icon>
    {{field.model}}
  </div>
</template>

<script>
import FieldIcon from "./FieldIcon";

export default {
  components: {
    FieldIcon
  },

  props: {
    field: {
      required: true
    }
  },

  computed: {
    name() {
      return this.field.block
        ? `${this.block.name || this.field.block.slug} block`
        : `${this.field.type} field`;
    },

    block() {
      if (!this.field.block) {
        return null;
      }

      return this.$store.getters["Templates/bySlug"](this.field.block.slug);
    }
  }
};
</script>
