<template>
  <component
    :is="fieldComponent"
    :field="field"
    v-model="value"
    :selected="selected"
    v-on="$listeners"
  ></component>
</template>

<script>
import fields from "./fields";

export default {
  name: "ComponentField",

  props: {
    field: {
      required: true
    },
    value: {
      required: true
    },
    selected: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    fieldComponent() {
      return fields.fieldComponentFromType(this.field.type);
    }
  }
};
</script>
