<template>
  <section class="p-3">
    <header class="mb-6 text-sm font-bold uppercase text-grey-light">
      {{ name }}
    </header>

    <section class="my-8" v-if="component">
      <label v-if="component.type === 'media'">
        <span class="block text-grey-light mb-1">Image Size</span>
        <input-select
          dark
          v-model="field.options.image_size"
          :options="{ sm: 'Small', md: 'Medium', lg: 'Large' }"
          class="w-full"
        ></input-select>
      </label>
    </section>

    <section class="my-8" v-if="templateOptions">
      <component-inspector-option
        v-for="(option, key) in templateOptions"
        :key="key"
        :option="option"
        :name="key"
        :field="field"
        class="my-3"
      ></component-inspector-option>
    </section>

    <section class="my-8">
      <header class="my-3 text-xs font-bold uppercase tracking-wide divider">
        Advanced
      </header>
      <fieldset>
        <label>
          <span class="block text-grey-light mb-1">Model Key</span>
          <input-text
            dark
            v-model="modelKey"
            class="w-full text-sm font-mono"
            :disabled="schemaLocked()"
          ></input-text>
          <span class="block mt-1 text-xs text-grey-dark"
            >Variable used to identify field in a view</span
          >
        </label>
        <label class="block mt-3">
          <span class="block text-grey-light mb-1">CSS</span>
          <input-text
            dark
            v-model="field.options.css_class"
            class="w-full text-sm font-mono"
          ></input-text>
          <span class="block mt-1 text-xs text-grey-dark"
            >CSS classes available to the field view</span
          >
        </label>
      </fieldset>
    </section>
  </section>
</template>

<script>
import { isUndefined, isString, isArray } from "lodash";
import ComponentInspectorOption from "./ComponentInspectorOption";

export default {
  components: {
    ComponentInspectorOption
  },

  props: {
    component: {
      required: true
    },
    field: {
      required: true
    }
  },

  inject: ["document", "schemaLocked"],

  computed: {
    template() {
      if (!this.component.template) {
        return null;
      }

      if (!isString(this.component.template)) {
        return this.component.template;
      }

      return this.$store.getters["Templates/bySlug"](this.component.template);
    },

    templateOptions() {
      return this.template && this.template.options;
    },

    name() {
      return this.template
        ? `${this.template.name} template`
        : `${this.component.type} field`;
    },

    modelKey: {
      get() {
        return this.component.model;
      },

      set(newKey) {
        let oldKey = this.component.model;
        let model = this.document().model;

        if (oldKey !== newKey) {
          Object.defineProperty(
            model,
            newKey,
            Object.getOwnPropertyDescriptor(model, oldKey)
          );
          delete model[oldKey];
        }

        return (this.component.model = newKey);
      }
    }
  },

  watch: {
    field() {
      if (isUndefined(this.field.options) || isArray(this.field.options)) {
        this.field.options = {};
      }
    }
  },

  created() {
    if (isUndefined(this.field.options) || isArray(this.field.options)) {
      this.field.options = {};
    }
  }
};
</script>
