<template>
  <label class="grid grid-columns-2 items-center" v-if="field && field.options">
    <span class="text-grey-light text-sm">{{option.display || name}}</span>
    <component :is="`input-${option.type}`" v-model="field.options[name]" v-bind="option" dark class="text-sm"></component>
  </label>
</template>

<script>
import { has } from "lodash";

export default {
  props: {
    option: {
      required: true
    },
    field: {
      required: true
    },
    name: {
      required: true
    }
  },

  methods: {
    setUp() {
      if (!has(this.field, `options`)) {
        this.$set(this.field, "options", {});
      }

      if (!has(this.field, `options.${this.name}`)) {
        this.$set(
          this.field.options,
          `${this.name}`,
          this.option.default || null
        );
      }
    }
  },

  created() {
    this.setUp();
  },

  watch: {
    field() {
      this.setUp();
    }
  }
};
</script>
