<template>
  <div v-on:click="$emit('click')">
    <header class="flex items-center mb-1 leading-normal">
      <span class="font-semibold mr-2" v-if="name">{{
        name
      }}</span>
      <span
        v-if="component.model && !locked"
        class="inline-block px-2 py-1 rounded leading-none text-xs bg-grey-lighter text-grey-dark"
        >{{ component.model }}</span
      >
      <div class="flex-grow text-right" v-if="!locked">
        <ui-popover placement="bottom-end" v-if="!schemaLocked()">
          <button
            slot="target"
            slot-scope="{ open, toggle }"
            @click="toggle"
            class="text-grey ml-2"
            :class="{ 'text-blue': open }"
          >
            •••
          </button>
          <ui-menu
            v-click-outside="
              () => {
                confirmRemoval = false;
              }
            "
          >
            <ui-menu-item>
              Duplicate field
            </ui-menu-item>
            <ui-menu-item
              v-if="!confirmRemoval"
              @click="confirmRemoval = true"
              hover-class="hover:bg-red"
            >
              Delete field
            </ui-menu-item>
            <ui-menu-item v-else @click="remove" hover-class="hover:bg-red">
              <svg-icon
                name="bold/alert-triangle"
                class="fill w-4 mr-2 opacity-75"
              ></svg-icon>
              Sure?
            </ui-menu-item>
          </ui-menu>
        </ui-popover>
      </div>
    </header>

    <p
      v-if="component.instructions || component.description"
      class="mb-2 text-grey-dark text-xs"
    >
      {{ component.instructions || component.description }}
    </p>

    <section :class="componentCss">
      <component
        v-for="field in templateFields"
        :key="field.model"
        :is="fieldComponent(field)"
        :field="field"
        v-model="scope[fieldScopeKey(field)]"
        :selected="selected"
        v-on="$listeners"
        :class="['mb-1', field.editor_class]"
      ></component>

      <component
        v-if="isReplicator"
        v-for="(field, key) in scope.value"
        :key="`field${key}`"
        :is="fieldComponent({ type: 'fieldset' })"
        :field="template.sets[field.type]"
        v-model="scope.value[key]"
        @removeSet="removeReplicatorSet(key)"
        v-on="$listeners"
        :class="field.editor_class"
      ></component>

      <footer class="p-2 col-start-1" v-if="isReplicator">
        <input-button
          slim
          v-for="(set, key) in template.sets"
          :key="key"
          @click="addReplicatorSet(key)"
          class="mr-1"
        >
          {{ set.display }}
          <svg-icon name="bold/add" class="fill w-3"></svg-icon>
        </input-button>
      </footer>
    </section>
  </div>
</template>

<script>
import { isUndefined, isString, isArray, get, each, startCase } from "lodash";
import fields from "./fields";
import ComponentField from "./ComponentField";

export default {
  name: "ComponentContainer",

  components: {
    ComponentField
  },

  inject: ["document", "schemaLocked"],

  props: {
    component: {
      type: Object,
      required: true
    },
    scope: {
      required: true
    },
    fixed: {
      type: Boolean,
      default: false
    },
    selected: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    confirmRemoval: false
  }),

  computed: {
    /**
     * Compute a readable name for the component
     */
    name() {
      return this.component.label
        ? this.component.label
        : this.template
        ? startCase(this.template.name)
        : startCase(this.component.type);
    },

    /**
     * CSS classes defined in the template
     */
    componentCss() {
      return this.template ? this.template.editor_class : null;
    },

    /**
     * Return the template, assumes a string is a slug and loads from the store
     */
    template() {
      if (!this.component) return null;

      let templateSlug = get(this.component, "template");

      if (templateSlug && isString(templateSlug)) {
        return this.$store.getters["Templates/bySlug"](templateSlug);
      }

      return templateSlug;
    },

    /**
     * Returns array of fields specified by the template
     * or splats a single field component into an array
     */
    templateFields() {
      if (!this.component) return [];

      return isUndefined(this.template)
        ? [this.component]
        : this.template.fields;
    },

    isReplicator() {
      return get(this.template, "replicator", false);
    },

    sets() {
      return get(this.component, "sets", []).map(set => {
        return {
          name: set.name,
          type: "fieldset",
          fields: get(this.template.sets, `${set.name}.fields`, [])
        };
      });
    },

    locked() {
      return this.fixed || this.component.locked;
    }
  },

  methods: {
    /**
     * Get the Vue Component for the component
     *
     * @param component object
     * @returns {*}
     */
    fieldComponent(component) {
      return fields.fieldComponentFromType(component.type);
    },

    /**
     * Return the key to use for the given field
     */
    fieldScopeKey(field) {
      return field.model === this.component.model ? "value" : field.model;
    },

    /**
     * Emit event to remove component from the document
     */
    remove() {
      this.$emit("remove", this.component);
      this.confirmRemoval = false;
    },

    /**
     * Adds a new item to a replicator set
     * @param setKey
     */
    addReplicatorSet(setKey) {
      if (!isArray(this.scope.value)) {
        this.$set(this.scope, "value", []);
      }

      this.$nextTick(() => {
        this.scope.value.push({ type: setKey });
      });
    },

    /**
     * Remove the item from the replicator set
     * @param setId
     */
    removeReplicatorSet(setId) {
      this.$delete(this.scope.value, setId);
    }
  },

  created() {
    // Scope should be an object
    if (isArray(this.scope)) {
      this.$emit("update:scope", { value: this.scope });
    }
  }
};
</script>
