<template>
  <ui-dialog
    title="Create a new folder"
    icon="bold/folder"
    :is-open="isOpen"
    v-on="$listeners"
  >
    <input-text
      v-model="directoryName"
      ref="directoryName"
      placeholder="Folder name"
      autofocus
      class="w-96"
    ></input-text>
    <footer slot="footer">
      <input-button
        type="text"
        color="grey"
        @click="$emit('update:isOpen', false)"
        >Cancel
      </input-button>
      <input-button
        type="solid"
        :disabled="!directoryName"
        @click="createDirectory"
        >Save
      </input-button>
    </footer>
  </ui-dialog>
</template>

<script>
export default {
  name: "CreateDirectoryDialog",

  props: {
    isOpen: {
      type: Boolean,
      default: false
    },

    path: {
      default: null
    }
  },

  data: () => ({
    directoryName: null
  }),

  methods: {
    createDirectory() {
      this.$store
        .dispatch("Files/createDirectory", {
          name: this.directoryName,
          path: this.path
        })
        .then(payload => {
          this.$emit("update:isOpen", false);
          this.$emit("created", payload.data.data);
        });
    }
  },

  watch: {
    isOpen: function(open) {
      if (!open) return false;

      this.$nextTick(function() {
        this.directoryName = null;
        setTimeout(() => {
          this.$refs.directoryName.$el.focus();
        }, 100);
      });
    }
  }
};
</script>
