<template>
  <input-button type="text" color="red" subtle class="text-sm -ml-3" @click="confirmRemoval = true">
    <svg-icon name="bold/bin" class="fill w-5 mr-1"></svg-icon>
    Delete this Document

    <ui-dialog title="Permanently delete this document?" icon="bold/bin" color="red"
               :is-open.sync="confirmRemoval">
      <p>Please confirm that you want to permanently delete the document.</p>
      <template slot="footer" slot-scope="{close}">
        <input-button type="text" color="red" @click="remove">Yes, delete the document</input-button>
        <input-button type="solid" @click="close">No, cancel</input-button>
      </template>
    </ui-dialog>
  </input-button>
</template>

<script>
export default {
  props: {
    document: {
      required: true
    }
  },

  data: () => ({
    confirmRemoval: false
  }),

  methods: {
    remove() {
      this.$store.dispatch("Documents/deleteDocument", this.document).then(
        () => {
          this.$notify({
            group: "general",
            type: "success",
            title: "Document deleted"
          });
          this.$router.push("/documents");
        },
        () => {
          this.$notify({
            group: "general",
            type: "error",
            title: "Failed to delete document"
          });
        }
      );
    }
  }
};
</script>
