<template>
  <input-button
    type="text"
    color="red"
    subtle
    class="text-sm -ml-3"
    @click="confirmRemoval = true"
  >
    <svg-icon name="bold/bin" class="fill w-5 mr-1"></svg-icon>
    Delete this File

    <ui-dialog
      title="Permanently delete this file?"
      icon="bold/bin"
      color="red"
      :is-open.sync="confirmRemoval"
    >
      <p>Please confirm that you want to permanently delete the file.</p>
      <template slot="footer">
        <div class="flex justify-between w-full">
          <input-button type="text" color="red" @click="remove"
            >Yes, delete the file</input-button
          >
          <input-button type="solid" @click="confirmRemoval = false"
            >No, cancel</input-button
          >
        </div>
      </template>
    </ui-dialog>
  </input-button>
</template>

<script>
export default {
  props: {
    file: {
      required: true
    }
  },

  data: () => ({
    confirmRemoval: false
  }),

  methods: {
    remove() {
      this.$store
        .dispatch("Files/deleteFile", this.file)
        .then(
          () => {
            this.$notify({
              group: "general",
              type: "success",
              title: "File Deleted"
            });
          },
          () => {
            this.$notify({
              group: "general",
              type: "error",
              title: "Failed to delete file"
            });
          }
        )
        .then(() => {
          this.confirmRemoval = false;
        });
    }
  }
};
</script>
