<template>
  <section class="flex flex-col overflow-hidden">
    <header>
      <tabs :selected-tab.sync="tab">
        <tab id="model" label="Model" selected></tab>
        <tab id="schema" label="Schema"></tab>
        <tab id="meta" label="Meta"></tab>
      </tabs>
    </header>

    <main class="relative overflow-auto max-h-full p-4 pb-0">
      <div class="sticky pin-t z-10 mb-2 mx-2 flex justify-end items-center">
        <span
          class="relative inline-block group mr-auto text-sm"
          v-if="jsonError"
        >
          <span class="block py-1 px-2 rounded bg-red-90 text-white"
            >JSON is not valid</span
          >
          <span
            class="block absolute w-64 mt-5 p-2 shadow-lg pin-t hidden group-hover:block bg-red-darker text-white text-xs"
            >{{ jsonError }}</span
          >
        </span>
        <input-button
          type="solid"
          class="text-xs"
          :disabled="!!jsonError"
          @click="applyJsonChanges"
          >Apply changes</input-button
        >
      </div>
      <code-editor
        v-model="tabJson"
        class="rounded overflow-hidden mb-4"
      ></code-editor>
    </main>
  </section>
</template>

<script>
import CodeEditor from "../components/CodeEditor";

export default {
  name: "DeveloperTools",
  components: {
    CodeEditor
  },

  props: {
    document: {
      required: true
    }
  },

  data: () => ({
    tab: "model",
    modelJson: null,
    schemaJson: null,
    metaJson: null
  }),

  computed: {
    tabJson: {
      get() {
        return this[`${this.tab}Json`];
      },

      set(value) {
        this[`${this.tab}Json`] = value;
      }
    },

    jsonError() {
      try {
        JSON.parse(this.tabJson);
        return false;
      } catch (e) {
        return e.message;
      }
    }
  },

  methods: {
    applyJsonChanges() {
      try {
        this.document[this.tab] = JSON.parse(this.tabJson);
        this.$notify({
          group: "general",
          type: "success",
          title: "Changes applied"
        });
      } catch (e) {
        this.$notify({ title: "Failed to apply changes", type: "warning" });
      }
    }
  },

  created() {
    this.modelJson = JSON.stringify(this.document.model, null, 2);
    this.schemaJson = JSON.stringify(this.document.schema, null, 2);
    this.metaJson = JSON.stringify(this.document.meta, null, 2);
  }
};
</script>
