<template>
  <nav>
    <a @click="changePath(rootPath)" class="breadcrumb-link"> Files </a>
    <span v-if="parent">
      <span v-if="deepNest">&hellip;</span>
      <svg-icon
        name="bold/arrow-right-1"
        class="fill text-grey-darker w-3"
      ></svg-icon>
      <a @click="changePath(parent.path)" class="breadcrumb-link">{{
        parent.name
      }}</a>
    </span>
    <span v-if="current.name">
      <svg-icon
        name="bold/arrow-right-1"
        class="fill text-grey-darker w-3"
      ></svg-icon>
      {{ current.name }}
    </span>
  </nav>
</template>

<script>
import { last, initial, split, join, trim } from "lodash";

export default {
  props: {
    path: {
      required: true
    },

    rootPath: {
      default: "/"
    }
  },

  computed: {
    segments() {
      return split(trim(this.path, "/"), "/");
    },

    current() {
      return {
        path: join(this.segments, "/"),
        name: last(this.segments)
      };
    },

    parent() {
      if (this.segments.length < 2) return null;
      return {
        path: join(initial(this.segments), "/"),
        name: this.segments[this.segments.length - 2]
      };
    },

    deepNest() {
      return this.segments.length > 2;
    }
  },

  methods: {
    changePath(path) {
      this.$emit("update:path", path);
    }
  }
};
</script>
