<template>
  <article class="flex flex-col justify-between h-full" v-if="directory">
    <section>
      <figure class="w-full p-8"><folder-icon></folder-icon></figure>
      <p class="text-center mt-1">{{ directory.name }}</p>
    </section>

    <footer class="p-2 mt-6 text-center">
      <p class="my-3 text-xs font-bold uppercase tracking-wide divider">
        Folder actions
      </p>
      <delete-directory-button
        :directory="directory"
        @deleted="directoryDeleted"
      ></delete-directory-button>
    </footer>
  </article>
</template>

<script>
import { split, last, join, initial } from "lodash";
import DeleteDirectoryButton from "./DeleteDirectoryButton";
import FolderIcon from "./FolderIcon";

export default {
  components: {
    FolderIcon,
    DeleteDirectoryButton
  },

  props: {
    path: {
      required: true
    }
  },

  computed: {
    directory() {
      // return this.$store.getters["Files/directory"](this.path);
      return {
        name: last(this.segments),
        path: this.path
      };
    },

    segments() {
      return split(this.path, "/");
    }
  },

  methods: {
    directoryDeleted() {
      this.$emit("change-directory", join(initial(this.segments), "/"));
    }
  }
};
</script>
