<template>
  <figure class="group">

    <div class="relative rounded bg-grey-lighter aspect-ratio-3/4 leading-normal">

      <span v-if="meta && document.status === 'draft'"
            class="absolute pin-t pin-r m-2 leading-none text-orange font-bold">Draft</span>
      <span v-if="meta && document.status === 'pending'"
            class="absolute pin-t pin-r m-2 leading-none text-indigo font-bold">Pending</span>

      <span v-if="meta && document.isScheduled" class="absolute pin-b pin-l pin-r m-2 text-xs text-center" :class="{ 'text-orange': document.isScheduled }">
              <svg-icon
                name="bold/stopwatch"
                class="w-4 h-4 fill -mt-1"
              ></svg-icon>
        {{ document.published }}
      </span>

      <div class="absolute pin flex flex-col items-center justify-center text-grey group-hover:text-blue">
        <svg-icon name="bold/edit" class="fill w-1/3"></svg-icon>
      </div>
      <span class="absolute pin-b pin-l bg-blue w-full p-1 text-white"
            v-if="document.template">{{document.template}}</span>
    </div>

    <span class="block truncate w-full mt-3 group-hover:text-blue" v-if="label">{{document.name}}</span>
  </figure>
</template>

<script>
  import * as moment from "moment";

  export default {
    name: "DocumentIcon",
    props: {
      document: {
        required: true
      },
      label: {
        type: Boolean,
        default: true
      },
      meta: {
        type: Boolean,
        default: true
      }
    },

    computed: {
      publishAtDate() {
        return this.document.published_at && moment(this.document.published_at).isAfter()
          ? moment(this.document.published_at).format("DD-MM-YYYY")
          : null;
      }
    }
  };
</script>
