<template>
  <div
    class="flex flex-col w-full bg-grey-darkest text-grey m-2 rounded shadow"
  >
    <tabs
      :selected-tab.sync="selectedInspectorTab"
      class="flex flex-col flex-grow"
    >
      <tab id="field" label="Field">
        <component-inspector
          v-if="selectedComponent && document.model[selectedComponent.model]"
          :component="selectedComponent"
          :field="document.model[selectedComponent.model]"
        ></component-inspector>
      </tab>

      <tab
        id="document"
        label="Document"
        selected
        class="p-4 flex flex-col justify-between flex-grow"
      >
        <section class="flex-grow overflow-auto">
          <fieldset>
            <label class="block mt-3">
              <span class="block text-grey-light mb-1">Slug</span>
              <input-text
                v-model="document.slug"
                dark
                class="text-sm w-full"
              ></input-text>
              <span class="block mt-1 text-xs text-grey-dark"
                >Short text used in the URL to identify the document</span
              >
            </label>
            <label class="block mt-3">
              <span class="block text-grey-light mb-1">Status</span>
              <input-select
                v-model="document.status"
                :options="documentStatusOptions"
                dark
                class="text-sm w-full"
              ></input-select>
              <span class="block mt-1 text-xs text-grey-dark"
                >Draft documents wont be publicly visible</span
              >
            </label>
            <label class="block mt-3">
              <span class="block text-grey-light mb-1">Publish</span>
              <input-select
                v-model="publish"
                :options="{
                  immediately: 'Immediately',
                  scheduled: 'Schedule for …'
                }"
                dark
                class="text-sm w-full"
              ></input-select>
            </label>
            <div v-if="publish === 'scheduled'">
              <input-date
                v-model="document.published_at"
                class="w-full my-4"
                dark
              ></input-date>
            </div>
          </fieldset>

          <hr class="my-6 border-t border-grey-darker">

          <linked-documents v-if="document.documents && document.documents.length" :documents="document.documents"/>
        </section>

        <footer class="text-xs">
          <section v-if="document.id">
            <p class="my-3 text-xs font-bold uppercase tracking-wide divider">
              Details
            </p>

            <p class="mb-2">
              <strong>Document UUID:</strong>
              <span class="select-text font-mono">{{ document.uuid }}</span>
            </p>
            <p class="mb-2">Created: {{ document.created_at }}</p>
            <p class="mb-2">Updated: {{ document.updated_at }}</p>
          </section>

          <div class="mt-3 text-center">
            <delete-document-button
              :document="document"
              v-if="document.id"
            ></delete-document-button>

            <input-button @click="$emit('open-devtools')" type="text">
              Developer Tools
            </input-button>
          </div>
        </footer>
      </tab>
    </tabs>
  </div>
</template>

<script>
  import * as moment from "moment";
  import ComponentInspector from "./ComponentInspector";
  import DeleteDocumentButton from "./DeleteDocumentButton";
  import LinkedDocuments from "./LinkedDocuments";

  export default {
  components: {
    LinkedDocuments,
    ComponentInspector,
    DeleteDocumentButton
  },

  props: {
    document: {
      required: true
    },
    selectedComponent: {
      default: null
    },
    selectedTab: {
      default: "document"
    }
  },

  data: () => ({
    documentStatusOptions: {
      draft: "Draft",
      pending: "Pending approval",
      approved: "Approved"
    }
  }),

  computed: {
    selectedInspectorTab: {
      get() {
        return this.selectedTab;
      },
      set(value) {
        this.$emit("update:selectedTab", value);
      }
    },

    publish: {
      get() {
        return this.document.published_at ? "scheduled" : "immediately";
      },

      set(value) {
        if (value === "immediately") {
          return this.$set(this.document, "published_at", null);
        }

        this.$set(
          this.document,
          "published_at",
          moment()
            .add(1, "days")
            .format("YYYY-MM-DD HH:mm")
        );
      }
    }
  },

  created() {
    if (!this.document.status) {
      this.document.status = "draft";
    }
  }
};
</script>
