<template>
  <div>
    <input-text
      placeholder="Search documents"
      class="w-48 focus:w-64 transition transition-fast transition-property-all"
      v-model="query"
      @input="search"
    ></input-text>
    <div
      v-if="documents.length"
      class="absolute z-50 pin-r w-1/3 py-1 m-2 overflow-auto list-reset bg-grey-darker shadow-lg rounded"
    >
      <router-link
        v-for="document in documents"
        :key="document.uuid"
        :to="{ name: 'EditDocument', params: { uuid: document.uuid } }"
        class="block text-white py-2 px-4 hover:bg-blue focus:bg-blue truncate no-underline"
      >
        {{ document.name }}
        <p class="text-sm opacity-50">/{{ document.slug }}</p>
      </router-link>
    </div>
  </div>
</template>

<script>
import { debounce } from "lodash";
import Document from "../models/Document";

export default {
  data: () => ({
    query: null,
    documents: []
  }),

  methods: {
    search: debounce(function() {
      if (!this.query) {
        this.documents = [];
        return false;
      }

      Document.custom("documents/search")
        .params({ q: this.query })
        .get()
        .then(payload => {
          this.documents = payload.data;
        });
    }, 800)
  }
};
</script>
