<template>
  <div class="grid-main overflow-auto max-h-full">
    <table v-if="listStyle === 'list'" class="w-full">
      <thead>
        <tr
          class="bg-grey-lighter uppercase text-xs text-grey-dark tracking-wide"
        >
          <td></td>
          <td class="p-2 w-48 text-right">Published</td>
          <td class="py-2 px-4 w-64 text-right">Activity</td>
        </tr>
      </thead>
      <tr
        v-if="groups"
        v-for="group in groups"
        :key="group.uuid"
        class="border-b border-grey-lighter group"
        @click="selectGroup(group, $event)"
        @dblclick="openGroup(group)"
      >
        <td
          class="flex items-center p-2"
          :class="{ 'bg-grey-30': selectedGroups.includes(group) }"
          colspan="3"
        >
          <folder-icon class="w-10 mr-2" :meta="false" />
          {{ group.name }}
        </td>
      </tr>
      <tr
        v-if="documents"
        v-for="document in documents"
        :key="document.uuid"
        class="border-b border-grey-lighter group"
        :class="{ 'bg-blue text-white': selectedDocuments.includes(document) }"
        @click="selectDocument(document, $event)"
        @dblclick="openDocument(document)"
      >
        <td class="flex items-center p-2 no-underline text-grey-darker" :class="{ 'text-white': selectedDocuments.includes(document) }">
          <document-icon
            :document="document"
            :label="false"
            :meta="false"
            class="w-10 mr-2"
          />
          <span>
            {{ document.name }}
            <span class="block text-sm text-grey pt-1" :class="{ 'text-blue-lighter': selectedDocuments.includes(document) }">/{{ document.slug }}</span>
          </span>
        </td>
        <td
          class="text-right text-grey p-2"
          :class="{ 'text-orange': document.isScheduled, 'text-blue-lighter': selectedDocuments.includes(document) }"
          :title="
            document.isScheduled ? document.publishedMoment.toString() : null
          "
        >
          <span v-if="document.isScheduled">
            <svg-icon name="bold/stopwatch" class="w-4 h-4 fill -mt-1" />
          </span>
          {{ document.published }}
        </td>
        <td class="text-right text-grey px-4" :class="{ 'text-blue-lighter': selectedDocuments.includes(document) }">
          <span title="Created">{{ document.created }}</span>
          <div
            title="Updated"
            class="text-grey-dark"
            :class="{ 'text-white': selectedDocuments.includes(document) }"
            v-if="document.updated !== document.created"
          >
            {{ document.updated }}
          </div>
        </td>
      </tr>
    </table>

    <transition-group name="pop" class="item-grid m-8" v-else>
      <article
        v-if="groups"
        v-for="group in groups"
        :key="group.uuid"
        @click="selectGroup(group, $event)"
        @dblclick="openGroup(group)"
        class="block p-2 rounded text-center text-grey-darker text-xs"
        :class="{ 'bg-grey-30': selectedGroups.includes(group) }"
      >
        <figure>
          <group-icon :group="group"></group-icon>
        </figure>
      </article>

      <article
        v-if="documents"
        v-for="document in documents"
        :key="document.uuid"
        @click="selectDocument(document, $event)"
        @dblclick="openDocument(document)"
        class="block p-2 rounded text-center text-grey-darker text-xs"
        :class="{ 'bg-grey-30': selectedDocuments.includes(document) }"
      >
        <figure>
          <document-icon :document="document" class="w-24"></document-icon>
        </figure>
      </article>
    </transition-group>

    <infinite-loading
      v-if="pagination"
      key="infinite-loader"
      :identifier="identifier"
      @infinite="infiniteHandler"
    >
      <article class="h-48" slot="spinner">
        <ui-loader />
      </article>
      <article class="text-grey text-lg" slot="no-more">␄</article>
      <article class="text-grey text-lg" slot="no-results">
        no documents
      </article>
    </infinite-loading>
  </div>
</template>

<script>
import { without } from "lodash";
import DocumentIcon from "./DocumentIcon";
import GroupIcon from "./GroupIcon";
import FolderIcon from "./FolderIcon";
import InfiniteLoading from "vue-infinite-loading";

export default {
  name: "DocumentList",

  components: {
    DocumentIcon,
    GroupIcon,
    FolderIcon,
    InfiniteLoading
  },

  data: () => ({
    infiniteState: null,
    selectedGroups: [],
    selectedDocuments: []
  }),

  props: {
    currentPage: {
      default: null
    },
    lastPage: {
      default: null
    },
    group: {
      default: null
    },
    groups: {
      default: () => []
    },
    documents: {
      default: () => [],
      required: true
    },
    pagination: {
      default: true,
      type: Boolean
    },
    /**
     * Unique identifier for the data set, e.g. a search string
     * The Group ID will always be used in addition to this param.
     */
    setIdentifier: {
      default: null
    },
    /**
     * How Documents are shown; list or icons
     */
    listStyle: {
      default: "icons",
      type: String
    }
  },

  computed: {
    identifier() {
      return `${this.group && this.group.id ? this.group.id : "root"}-${
        this.setIdentifier
      }`;
    }
  },

  watch: {
    group(group, lastGroup) {
      this.selectedDocuments = [];
      this.selectedGroups = [];
    },

    currentPage(currentPage, previousPage) {
      if (!this.infiniteState) {
        return false;
      }

      this.infiniteState.loaded();

      if (currentPage >= this.lastPage) {
        this.infiniteState.complete();
      }
    }
  },

  methods: {
    infiniteHandler($state) {
      this.infiniteState = $state;
      if (this.currentPage < this.lastPage || !this.lastPage) {
        this.$emit("next-page", $state);
      }
    },

    selectGroup(group, event) {
      this.selectedDocuments = [];

      if (!event.metaKey) {
        this.selectedGroups = [];
      }

      if (this.selectedGroups.includes(group)) {
        this.selectedGroups = without(this.selectedGroups, group);
      } else {
        this.selectedGroups.push(group);
      }

      this.$emit("groups-selected", this.selectedGroups);
    },

    selectDocument(document, event) {
      this.selectedGroups = [];

      if (!event.metaKey) {
        this.selectedDocuments = [];
      }

      if (this.selectedDocuments.includes(document)) {
        this.selectedDocuments = without(this.selectedDocuments, document);
      } else {
        this.selectedDocuments.push(document);
      }

      this.$emit("documents-selected", this.selectedDocuments);
    },

    openDocument(document) {
      this.$emit("open-document", document);
    },

    openGroup(group) {
      this.$emit("open-group", group);
    }
  }
};
</script>
