<template>
  <section>
    <slot
      v-bind="{
        documents,
        groups,
        currentGroup,
        currentPage,
        lastPage,
        loadNextPage,
        reset
      }"
    />
  </section>
</template>

<script>
import { concat, map, get } from "lodash";
import Group from "../models/Group";
import Document from "../models/Document";

export default {
  name: "DocumentsLoader",

  data: () => ({
    currentPage: 0,
    lastPage: null,
    groups: null,
    documentStore: [],
    documentsRequest: null
  }),

  props: {
    /**
     * Group ID to load documents from.
     * Causes reload when changed
     */
    groupId: {
      default: null
    },

    /**
     * Set to false if you don't want the
     * first page loaded automatically
     */
    autoload: {
      default: false,
      type: Boolean
    },

    /**
     * When set loader will perform a search
     */
    searchQuery: {
      default: null
    }
  },

  computed: {
    user() {
      return this.$store.getters["Users/me"];
    },

    userRootGroupId() {
      return get(this.user.settings, 'permissions.groupRootId', null);
    },

    /**
     * Returns a object of the current Group
     * with parent and child groups mapped
     */
    currentGroup() {
      if (!this.groups || !this.groups.length) {
        return null;
      }

      let currentGroup = this.groups.find(group => group.id === this.groupId);

      if (!currentGroup) {
        currentGroup = { id: this.userRootGroupId };
      }

      currentGroup.parent = this.groups.find(
        group => group.id === currentGroup.parent_id
      );

      currentGroup.children = this.groups.filter(
        group => group.parent_id === currentGroup.id
      );

      return currentGroup;
    },

    documents() {
      return this.documentStore.filter(
        document => document.group_id === this.groupId || this.userRootGroupId
      );
    }
  },

  methods: {
    /**
     * Resets page tracking and store
     */
    reset() {
      this.currentPage = 0;
      this.lastPage = null;
      this.documentStore = [];
    },

    /**
     * Loads a flat tree of all Groups
     */
    loadGroupTree() {
      Group.find("tree").then(payload => {
        this.groups = map(payload.data, group => new Group(group));
        this.$emit("groups-loaded", this.groups);
      });
    },

    /**
     * Loads all Documents from a given Group
     *
     * @param groupId
     * @param page
     */
    loadDocuments(groupId = null, page = 1) {
      try {
        if (this.documentsRequest && this.documentsRequest.abort) {
          this.documentsRequest.abort();
        }

        this.documentsRequest = Document;

        if (this.searchQuery) {
          this.documentsRequest = Document.custom("documents/search").params({
            q: this.searchQuery
          });
        }

        this.documentsRequest
          .where("group", groupId)
          .page(page)
          .get()
          .then(this.storeDocuments);
      } catch (exception) {
        console.log(`document request canceled ${exception}`);
      }
    },

    /**
     * Process documents payload adding to local store
     *
     * @param payload
     */
    storeDocuments(payload) {
      this.documentStore = concat(
        this.documentStore,
        map(payload.data, document => new Document(document))
      );

      this.$emit("documents-loader:loaded-page");
      this.currentPage = payload.meta.current_page;
      this.lastPage = payload.meta.last_page;

      if (payload.meta.current_page === payload.meta.last_page) {
        this.$emit("documents-loader:loaded-all");
      }
    },

    /**
     * Requests next page of Documents.
     * Prevents requesting page out of scope
     * @returns {boolean}
     */
    loadNextPage() {
      if (this.lastPage && this.currentPage + 1 > this.lastPage) {
        return false;
      }

      this.loadDocuments(this.groupId, this.currentPage + 1);
    }
  },

  /**
   * Load Group tree and Documents when
   * component created
   */
  created() {
    this.loadGroupTree();
    if (this.autoload) {
      this.loadNextPage();
    }
  },

  watch: {
    /**
     * Clear documents and request
     * from new Group
     */
    groupId() {
      this.reset();
      if (this.autoload) {
        this.loadNextPage();
      }
    }
  }
};
</script>
