<template>
    <div>
      <svg-icon :name="field.icon" :class="iconClass" v-if="field.icon"></svg-icon>
      <svg-icon v-else name="streamline/regular/module" :class="iconClass"></svg-icon>
      <span :class="labelClass" v-if="!hideLabel">{{field.name}}</span>
    </div>
</template>

<script>
import fields from "./fields";

export default {
  name: "FieldIcon",

  props: {
    fieldType: {
      required: true
    },
    iconClass: {
      default: "w-10"
    },
    labelClass: {
      default: "block mt-2 text-xs uppercase tracking-wide"
    },
    hideLabel: {
      default: false,
      type: Boolean
    }
  },

  computed: {
    field() {
      return fields.fieldComponentFromType(this.fieldType);
    }
  }
};
</script>
