<template>
  <div
    class="relative p-2 w-full rounded text-center text-grey-dark"
    v-on="$listeners"
  >
    <nav class="absolute pin-t pin-r -mt-1 -mr-1">
      <slot name="controls"></slot>
    </nav>

    <file-preview
      :file="file"
      class="w-full h-32 mx-auto p-2 rounded"
      :class="{ 'bg-grey-30': isSelected }"
    ></file-preview>

    <span
      class="inline-block max-w-full p-1 mt-1 rounded text-xs overflow-hidden truncate"
      :class="{ 'bg-blue text-white': isSelected }"
      :title="file.name"
    >
      {{ file.name }}
    </span>
  </div>
</template>

<script>
import FilePreview from "./FilePreview";

export default {
  name: "FileListItem",
  components: { FilePreview },
  inject: ["selectedFiles"],

  props: {
    file: {
      required: true,
      type: Object
    }
  },

  computed: {
    isSelected() {
      return this.selectedFiles() === this.file;
    }
  }
};
</script>
