<template>
  <vue-upload-component
    ref="upload"
    v-model="uploadQueue"
    :input-id="inputId"
    :post-action="postAction"
    :headers="headers"
    :multiple="true"
    :drop="drop"
    :drop-directory="true"
    accept="image/*,application/pdf"
    @input="inputFile"
  >
    <slot>
      <input-button type="solid" class="w-full">
        <svg-icon
          name="bold/upload-bottom"
          class="w-4 h-4 fill mr-1"
        ></svg-icon>
        Upload file
      </input-button>
    </slot>

    <section
      class="fixed pin-t pin-l w-full pointer-events-none z-10 flex justify-center"
      v-if="uploadQueue.length"
    >
      <div class="max-w-sm m-2 bg-white shadow-lg rounded text-black">
        <file-upload-item
          v-for="file in uploadQueue"
          :file="file"
          :key="file.id"
        ></file-upload-item>
      </div>
    </section>

    <div
      v-show="dropOverlay && $refs.upload && $refs.upload.dropActive"
      class="flex justify-center items-center bg-black-o text-white text-2xl font-bold text-center"
      :class="dropOverlayClass"
    >
      <transition name="pop">
        <section v-show="$refs.upload && $refs.upload.dropActive">
          <svg-icon
            name="light/upload-bottom"
            class="w-16 h-16 mb-4"
          ></svg-icon>
          <p>Drop files here to upload</p>
        </section>
      </transition>
    </div>
  </vue-upload-component>
</template>

<script>
import { map, every, each, trimStart } from "lodash";
import VueUploadComponent from "vue-upload-component";
import FileUploadItem from "./FileUploadItem";

export default {
  components: {
    VueUploadComponent,
    FileUploadItem
  },

  props: {
    path: {
      default: null
    },

    drop: {
      default: true
    },

    dropOverlay: {
      type: Boolean,
      default: true
    },

    dropOverlayClass: {
      type: String,
      default: "fixed pin z-50"
    }
  },

  data: () => ({
    uploadQueue: [],
    headers: {
      Accept: "application/json, text/plain, */*",
      Authorization: `Bearer ${window.config.api_token}`
    }
  }),

  computed: {
    postAction() {
      return `/api/files/${trimStart(this.path, '/')|| ""}`;
    },

    inputId() {
      return Math.random().toString(24).substring(2);
    },

    completed() {
      return every(this.uploadQueue, file => file.success);
    }
  },

  methods: {
    inputFile() {
      this.$refs.upload.active = true;
    },

    clearQueue() {
      this.$refs.upload.clear();
    }
  },

  watch: {
    completed(value) {
      if (!value) {
        return false;
      }

      each(this.uploadQueue, file => {
        this.$store.commit("Files/addFile", file.response.data);
        this.$emit("upload-complete", file.response.data);
      });

      this.$emit("complete", map(this.uploadQueue, "response.data"));
      setTimeout(this.clearQueue, 500);
    }
  }
};
</script>
