<template>
  <input-text
    placeholder="Search files"
    class="w-48 focus:w-64 transition transition-fast transition-property-all"
    v-model="query"
    @keyup="search"
  ></input-text>
</template>

<script>
import { debounce } from "lodash";
import api from "../api";

export default {
  props: {
    files: {
      default: []
    },

    value: {
      default: ""
    }
  },

  data: () => ({
    query: "",
    results: null
  }),

  methods: {
    search: debounce(function() {
      api.get("files", { params: { q: this.query } }).then(payload => {
        this.results = payload.data.data;
      });
    }, 300)
  },

  watch: {
    results(results) {
      this.$emit("update:files", this.query ? results : null);
    },

    query(value) {
      this.$emit("input", value);
    }
  }
};
</script>
