<template>
  <transition name="pop">
    <div class="my-2 px-3 py-2" v-if="!hide">
      <img v-if="file.thumb" :src="file.thumb" width="40" height="auto" />
      {{ file.name }}
      <div
        class="h-1 rounded-full bg-grey-light overflow-hidden"
        :class="{
          'bg-red': file.error
        }"
      >
        <div
          class="h-1"
          :class="{
            'bg-green': file.success,
            'bg-red': file.error,
            'bg-blue': !file.success && !file.error
          }"
          role="progressbar"
          :style="{ width: file.progress + '%' }"
        ></div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    file: {
      required: true
    }
  },

  data: () => ({
    hide: false
  }),

  watch: {
    "file.success": function(success) {
      if (!success) {
        return false;
      }

      setTimeout(() => {
        this.hide = true;
      }, 500);
    }
  }
};
</script>
