<template>
  <article class="flex flex-col justify-between h-full">
    <section>
      <file-preview :file="file" width="300" class="h-64"></file-preview>

      <p class="text-center mt-1">
        {{ file.name }}
        <file-type
          :file="file"
          class="block mt-1 text-sm text-grey-dark"
        ></file-type>
      </p>

      <dl class="my-4 grid grid-columns-3 items-center text-xs">
        <dt class="text-right mr-1 font-bold">URL</dt>
        <dd class="col-span-2 p-1">
          <input
            type="text"
            readonly
            class="appearance-none w-full bg-transparent text-grey-lighter"
            v-model="file.url"
            @click="selectField"
          />
        </dd>

        <dt class="text-right mr-1 font-bold">Created</dt>
        <dd class="col-span-2 p-1 text-grey-lighter">{{ file.createdAt }}</dd>
      </dl>
    </section>

    <footer class="p-2 mt-6 text-center">
      <p class="my-3 text-xs font-bold uppercase tracking-wide divider">
        File actions
      </p>
      <delete-file-button :file="file"></delete-file-button>
    </footer>
  </article>
</template>

<script>
import FilePreview from "../components/FilePreview";
import FileType from "../components/FileType";
import DeleteFileButton from "./DeleteFileButton";

export default {
  components: {
    DeleteFileButton,
    FileType,
    FilePreview
  },

  props: {
    file: {
      type: Object,
      required: true
    }
  },

  methods: {
    selectField(event) {
      event.target.select();
    }
  }
};
</script>
