<template>
  <figure class="flex justify-center items-center">
    <v-lazy-image
      :src="imagePreview"
      class="w-auto max-w-full max-h-full rounded shadow"
      v-if="isImage"
    ></v-lazy-image>

    <div
      class="flex items-center justify-center text-center w-24 h-32 max-h-full rounded overflow-hidden bg-grey-lighter shadow"
      v-else
    >
      <file-type :file="file">
        <span
          class="py-1 px-2 rounded bg-grey-dark text-white text-sm uppercase tracking-wide"
          slot-scope="{ extension }"
          >{{ extension }}</span
        >
      </file-type>
    </div>
  </figure>
</template>

<script>
import { startsWith } from "lodash";
import FileType from "./FileType";

export default {
  components: { FileType },
  props: {
    file: {
      type: Object,
      required: true
    },
    width: {
      type: String,
      default: "200"
    }
  },

  computed: {
    isImage() {
      return startsWith(this.file.mimeType, "image");
    },

    imagePreview() {
      return this.isImage ? `/_image${this.file.url}?w=${this.width}` : null;
    }
  }
};
</script>
