<template>
  <transition-group name="pop" class="item-grid">
    <slot name="firstItem"></slot>

    <div
      v-for="directory in directoryList"
      :key="`directory${directory.path}`"
      @click="chooseDirectory(directory.path)"
      class="flex flex-col items-center cursor-pointer"
    >
      <folder-icon class="w-24"></folder-icon>
      <p class="truncate mt-3 text-xs" :title="directory.name">
        {{ directory.name }}
      </p>
    </div>

    <file-list-item
      v-for="(file, id) in fileList"
      :key="file.path"
      :file="file"
      @click="selectFile(file)"
      v-click-outside="event => deselectFile(file, event)"
    >
      <span
        v-if="removable"
        slot="controls"
        @click="removeFile(id)"
        class="inline-flex justify-center items-center w-6 h-6 p-2 bg-grey rounded-full"
      >
        <svg-icon
          name="bold/close"
          class="fill w-full h-full text-white"
        ></svg-icon>
      </span>
    </file-list-item>

    <slot name="lastItem"></slot>
  </transition-group>
</template>

<script>
import FileListItem from "./FileListItem";
import FolderIcon from "./FolderIcon";

export default {
  components: {
    FolderIcon,
    FileListItem
  },

  provide() {
    return {
      selectedFiles: () => this.selectedFile
    };
  },

  props: {
    files: {
      default: () => ({
        files: [],
        directories: []
      })
    },

    removable: {
      type: Boolean,
      default: false
    },

    selectionLinkedElements: {
      type: Node,
      default: null
    }
  },

  data: () => ({
    selectedFile: null
  }),

  computed: {
    fileList() {
      return this.files.files || this.files;
    },

    directoryList() {
      return this.files.directories || [];
    }
  },

  methods: {
    chooseDirectory(path) {
      this.$emit("choose-directory", path);
    },

    selectFile(file) {
      this.$emit("select-file", file);
      this.selectedFile = file;
    },

    deselectFile(file, event) {
      if (
        this.selectionLinkedElements &&
        (event.target === this.selectionLinkedElements ||
          this.selectionLinkedElements.contains(event.target))
      ) {
        return false;
      }

      if (this.selectedFile === file) {
        this.selectedFile = null;
        this.$emit("deselect-file", file);
      }
    },

    removeFile(id) {
      this.$delete(this.fileList, id);
    }
  }
};
</script>
