<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 246 186" class="h-full">
    <g fill="none" fill-rule="evenodd">
      <path
        class="fill-current"
        :class="dark"
        d="M5.857 0h48.25c3.053 0 4.823.03 6.272 1.264 1.45 1.232 3.213 3.279 5.045 5.474 1.83 2.194 3.728 4.538 6.109 6.599 2.38 2.061 5.659 4.263 10.466 4.263h158.144c3.297 0 5.857 1.923 5.857 4.4H0V4.4C0 1.92 2.551 0 5.857 0z"
      />
      <path
        class="fill-current"
        :class="light"
        d="M246 22v158.143c0 3.297-2.56 5.857-5.856 5.857H5.856C2.551 186 0 183.443 0 180.143V22h246z"
      />
    </g>
  </svg>
</template>

<script>
export default {
  name: "FolderIcon",
  props: {
    color: {
      default: "blue"
    }
  },

  computed: {
    light: function() {
      return `text-${this.color}`;
    },
    dark: function() {
      return `text-${this.color}-dark`;
    }
  }
};
</script>
