<template>
  <div
    id="getcontent"
    class="hidden lg:flex h-screen w-screen overflow-hidden select-none"
  >
    <main-nav></main-nav>

    <main class="relative w-full h-screen bg-grey-light">
      <transition name="appear">
        <router-view></router-view>
      </transition>
    </main>

    <notifications
      group="general"
      position="top center"
      classes="milk-ui-notification"
      animation-name="pop"
      width="500px"
    >
      <article
        slot="body"
        slot-scope="{ item, close }"
        class="flex items-center mt-2 bg-black-90 border-t-8 text-white shadow-lg overflow-hidden"
        :class="{
          'border-blue': !item.type,
          'border-orange': item.type === 'warning',
          'border-green': item.type === 'success'
        }"
        @click="close"
      >
        <figure v-if="item.type" class="py-3 pl-3 self-start">
          <svg-icon
            name="bold/alert-triangle"
            class="fill w-8 h-8"
            v-if="item.type === 'warning'"
          ></svg-icon>
          <svg-icon
            name="bold/check-circle-1"
            class="fill w-8 h-8"
            v-if="item.type === 'success'"
          ></svg-icon>
        </figure>
        <section>
          <p class="px-3 pt-3 pb-2 font-bold" v-if="item.title">
            {{ item.title }}
          </p>
          <p class="px-3 pb-3 text-sm text-grey-light" v-if="item.text">
            {{ item.text }}
          </p>
        </section>
      </article>
    </notifications>
    <portal-target name="modals" multiple></portal-target>
    <portal-target name="popover" multiple></portal-target>
  </div>
</template>

<script>
import MainNav from "./MainNav";

export default {
  components: {
    MainNav
  },

  created() {
    this.$store.dispatch("Users/loadMe");
    this.$store.dispatch("Templates/loadTemplates");
  }
};
</script>
