<template>
  <div class="group">
    <folder-icon class="w-24" v-if="group.uuid"></folder-icon>
    <p class="truncate mt-3 text-xs group-hover:text-blue" :title="group.name">
      {{ group.name }}
    </p>
  </div>
</template>

<script>
import FolderIcon from "./FolderIcon";

export default {
  name: "GroupIcon",
  components: { FolderIcon },
  props: {
    group: {
      required: true
    }
  }
};
</script>
