<template>
  <fieldset v-if="documents" class="mt-3">
    {{ documents.length }} Linked
    <span v-html="documents.length > 1 ? `Documents` : `Document`"></span>
    <ul class="list-reset">
      <li v-for="document in documents">
        {{ document.name }}
        <input-button type="text" color="red" @click="removeDocument(document)">
          <svg-icon name="bold/close" class="fill w-3"></svg-icon>
        </input-button>
      </li>
    </ul>
  </fieldset>
</template>

<script>
export default {
  name: "linked-documents",
  props: {
    documents: {
      required: true
    }
  },

  methods: {
    removeDocument(document) {
      this.documents.splice(this.documents.indexOf(document), 1);
    }
  }
};
</script>
