<template>
  <nav class="flex flex-col bg-grey-darkest w-24 p-4 text-xs text-center">
    <router-link
      to="/documents"
      class="main-nav-link"
      active-class="text-white"
    >
      <svg-icon name="light/documents" class="h-10 mb-1"></svg-icon>
      Documents
    </router-link>
    <router-link to="/files" class="main-nav-link" active-class="text-white">
      <svg-icon name="light/media" class="h-10 mb-1"></svg-icon>
      Media
    </router-link>
<!--    <router-link to="/settings" class="main-nav-link" active-class="text-white">
      <svg-icon name="light/settings" class="h-10 mb-1"></svg-icon>
      Settings
    </router-link>-->

    <nav class="mt-auto" v-if="user">
      <ui-popover placement="right-end">
        <button slot="target" slot-scope="{ open, toggle }" @click="toggle">
          <svg-icon
            name="bold/user"
            class="fill text-grey-dark w-8"
            :class="{ 'text-yellow-dark': open }"
          ></svg-icon>
        </button>
        <ui-menu>
          <ui-menu-item label>Signed in as {{ user.email }}</ui-menu-item>
          <ui-menu-item @click="logout">Logout</ui-menu-item>
        </ui-menu>
      </ui-popover>
    </nav>
  </nav>
</template>

<script>
import api from "../api";

export default {
  computed: {
    user() {
      return this.$store.getters["Users/me"];
    }
  },

  methods: {
    logout() {
      api.post("../logout").then(() => {
        window.location = "/";
      });
    }
  }
};
</script>
