<template>
  <ui-dialog
    :is-open="isOpen"
    v-on="$listeners"
    dialog-class="w-4/5 h-full max-h-lg pt-2"
    no-padding
  >
    <template v-slot:header="{ close }" class="p-4">
      <section class="flex items-center justify-between w-full px-4">
        <span>
          <svg-icon name="regular/media" class="w-6 mr-2"></svg-icon>
          Media Browser
        </span>
        <span>
          <file-search
            :files.sync="searchResults"
            v-model="searchQuery"
          ></file-search>
          <input-button type="text" color="grey" @click="close">
            <svg-icon name="bold/close" class="fill w-4"></svg-icon>
          </input-button>
        </span>
      </section>
    </template>

    <template v-slot:footer>
      <nav
        class="flex items-center h-full w-full p-2 text-left bg-grey-light text-sm"
      >
        <directory-breadcrumbs :path.sync="path"></directory-breadcrumbs>
      </nav>
    </template>

    <section v-if="searchResults" class="p-4">
      <header class="my-4 text-grey-darkest text-xl">
        Results for "{{ searchQuery }}"
      </header>
      <file-list
        :files="searchResults"
        :selection-linked-elements="$refs.inspector"
        @select-file="selectFile"
      ></file-list>
    </section>

    <storage-navigator
      v-else
      :path.sync="path"
      @select-file="selectFile"
      class="p-4 overflow-x-hidden"
    ></storage-navigator>
  </ui-dialog>
</template>

<script>
import FileList from "./FileList";
import FileSearch from "./FileSearch";
import StorageNavigator from "./StorageNavigator";
import DirectoryBreadcrumbs from "./DirectoryBreadcrumbs";

export default {
  components: {
    DirectoryBreadcrumbs,
    StorageNavigator,
    FileList,
    FileSearch
  },

  props: {
    initPath: {
      type: String,
      default: "/"
    },

    isOpen: {
      default: false
    }
  },

  data: () => ({
    path: "/",
    searchQuery: "",
    searchResults: null
  }),

  methods: {
    selectFile(file) {
      this.$emit("select-file", file);
      this.$emit("update:isOpen", false);
    }
  },

  created() {
    this.path = this.initPath;
  }
};
</script>
