<template>
  <file-list
    v-if="files"
    :files="files"
    :selection-linked-elements="selectionLinkedElements"
    @choose-directory="chooseDirectory"
    v-on="$listeners"
  ></file-list>
</template>

<script>
import FileList from "./FileList";

export default {
  components: { FileList },

  props: {
    // Defines the storage path to browse
    path: {
      type: String,
      default: null
    },

    // Defines elements that wont cause a "click-away" event
    selectionLinkedElements: {}
  },

  data: () => ({
    loading: false
  }),

  computed: {
    storagePath: {
      get() {
        return this.path;
      },

      set(path) {
        this.$emit("update:path", path);
      }
    },

    files() {
      return this.loading ? [] : this.$store.getters["Files/all"];
    }
  },

  watch: {
    storagePath() {
      this.loadFiles();
    }
  },

  methods: {
    loadFiles() {
      this.loading = true;
      this.$store.dispatch("Files/loadFromPath", this.path).then(() => {
        this.loading = false;
      });
    },

    chooseDirectory(path) {
      this.storagePath = path;
    }
  },

  created() {
    this.loadFiles();
  }
};
</script>
