<template>
  <div class="bg-white border border-blue text-grey-darkest rounded overflow-hidden">
    <header class="handle cursor-move flex justify-between items-center py-2 px-3 bg-blue-lightest text-blue font-bold">
      <field-icon :field-type="field.type" class="flex items-center text-xs" icon-class="w-6 mr-2"
                  label-class="uppercase"></field-icon>
      <input-button type="text" @click="remove" class="cursor-pointer">
        <svg-icon name="bold/close" class="fill w-3"></svg-icon>
      </input-button>
    </header>

    <section class="p-3 grid grid-columns-2 grid-gap-2">
      <div class="form-group">
        <label for="label">Label</label>
        <small class="help-block">The field's label shown in the document editor</small>
        <input-text v-model="field.label" @blur="setVariable" />
      </div>
      <div class="form-group">
        <label for="label">Field Variable</label>
        <small class="help-block">The field's template variable.</small>
        <input-text v-model="field.variable"/>
      </div>
      <div class="form-group col-span-2">
        <label for="instructions">Instructions</label>
        <small class="help-block">Basic Markdown is allowed.</small>
        <input-text id="instructions" v-model="field.instructions" class="text-xs"/>
      </div>
    </section>

    <section class="p-4 bg-grey-lightest">
      <component :is="builderComponent" :field="field" v-if="builderComponent"></component>
    </section>
  </div>
</template>

<script>
import { snakeCase, isUndefined } from "lodash";
import fields from "./fields";
import FieldIcon from "./FieldIcon";

export default {
  name: "TemplateField",
  components: { FieldIcon },
  props: {
    field: {
      required: true
    }
  },

  computed: {
    builderComponent() {
      return fields.fieldBuilderByType(this.field.type);
    }
  },

  methods: {
    remove() {
      this.$emit("remove", this.field);
    },

    setVariable() {
      this.field.variable = snakeCase(this.field.label);
    }
  },
};
</script>
