<template>
  <div class="p-3">
    <header class="text-right">
      <input-button
        type="text"
        color="red"
        subtle
        slim
        @click="$emit('removeSet')"
        class="rounded-full"
      >
        <svg-icon name="bold/close" class="fill w-3"></svg-icon>
      </input-button>
    </header>
    <section :class="componentCss">
      <component-container
        v-for="(component, id) in field.fields"
        :key="id"
        :scope.sync="value[id]"
        fixed
        :component="component"
        :selected="selected"
      ></component-container>
    </section>
  </div>
</template>

<script>
import { forEach, has } from "lodash";
import ComponentContainer from "../../ComponentContainer";

export default {
  name: "Fieldset",
  icon: "fields/block",

  props: {
    field: {
      required: true
    },
    value: {
      required: true
    },
    selected: {
      type: Boolean,
      default: false
    }
  },

  components: {
    ComponentContainer
  },

  computed: {
    /**
     * CSS classes defined in the template
     */
    componentCss() {
      return this.field ? this.field.editor_class : null;
    },
  },

  created() {
    forEach(this.field.fields, (field, key) => {
      // Initiate a value if it wasn't set
      if (!has(this.value, key)) {
        this.$set(this.value, key, {});
      }
    });
  }
};
</script>
