<template>
  <section class="relative">
    <editor-menu-bubble :editor="editor">
      <div
        slot-scope="{ menu, isActive, commands, getMarkAttrs }"
        class="editor-menu-bubble absolute z-10 mb-1 invisible"
        :style="`left: ${menu.left}px; bottom: ${menu.bottom}px;`"
      >
        <div ref="linkPopperPosition"></div>
        <div
          v-show="getMarkAttrs('link').href"
          ref="linkInspector"
          class="flex items-center absolute z-10 py-1 px-2 mt-6 rounded shadow bg-black text-white text-xs"
        >
          <span
            class="block truncate max-w-xs"
            :title="getMarkAttrs('link').href"
            >{{ getMarkAttrs("link").href }}</span
          >
          <a
            :href="getMarkAttrs('link').href"
            target="_blank"
            title="Open link"
            class="px-1 text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 30 30"
              class="h-4 w-4 fill-current"
            >
              <path
                style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal"
                d="M25.98 2.99a1 1 0 0 0-.11.01H20a1 1 0 1 0 0 2h3.586L13.293 15.293a1 1 0 1 0 1.414 1.414L25 6.414V10a1 1 0 1 0 2 0V4.127a1 1 0 0 0-1.02-1.137zM6 7c-1.093 0-2 .907-2 2v15c0 1.093.907 2 2 2h15c1.093 0 2-.907 2-2V11.422l-2 2V24H6V9h10.578l2-2H6z"
                font-weight="400"
                font-family="sans-serif"
                white-space="normal"
                overflow="visible"
              />
            </svg>
          </a>
        </div>
        <div
          ref="linkPopper"
          class="absolute z-10 p-1 mb-1 rounded shadow bg-black text-white"
          v-show="addLink.open"
          @keypress.enter="setLink(commands.link, addLink)"
          @keypress.esc="resetAddLink"
        >
          <input
            ref="addLinkUrl"
            v-model="addLink.href"
            type="text"
            placeholder="https://example.com"
            class="w-64 py-1 px-2 rounded bg-grey-darkest text-white text-sm"
          />

          <div class="flex items-center justify-between pt-1">
            <label class="whitespace-no-wrap text-xs">
              <input
                type="checkbox"
                v-model="addLink.target"
                true-value="_blank"
                :false-value="null"
              />
              Opens in a new window
            </label>
            <button
              :disabled="!addLink.href"
              :class="{ 'opacity-75 cursor-not-allowed': !addLink.href }"
              @click="setLink(commands.link, addLink)"
              class="p-1 text-blue text-xs font-bold"
            >
              Set link
            </button>
          </div>
        </div>
      </div>
    </editor-menu-bubble>

    <editor-menu-bar :editor="editor">
      <div
        slot-scope="{ commands, isActive, getMarkAttrs }"
        class="sticky flex pin-t z-10 p-2 bg-white"
        :class="{ invisible: !selected }"
      >
        <button
          title="Bold"
          class="flex py-1 px-2 rounded mr-1"
          :class="{
            'bg-grey-lighter text-blue-dark': isActive.bold(),
            'text-grey-dark': !isActive.bold()
          }"
          @click="commands.bold"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 50 50"
            class="w-4 h-4 fill-current"
          >
            <path
              d="M40.953 25.922c-.937-1.367-2.223-2.445-3.836-3.219.996-.703 1.809-1.515 2.434-2.43.992-1.457 1.496-3.28 1.496-5.421 0-1.946-.336-3.618-.992-4.973-.668-1.379-1.625-2.5-2.844-3.332-1.184-.809-2.61-1.399-4.246-1.746-1.574-.336-3.336-.508-5.23-.508H9.59a1 1 0 0 0-1 1v38.555c0 .55.45 1 1 1h18.683c1.809 0 3.594-.23 5.305-.684 1.746-.46 3.324-1.184 4.695-2.144a10.902 10.902 0 0 0 3.36-3.833c.828-1.558 1.25-3.417 1.25-5.515 0-2.606-.653-4.875-1.93-6.75zM18.066 11.879h7.942c.754 0 1.484.062 2.187.187.7.13 1.32.356 1.864.676.539.324.968.778 1.293 1.352.324.578.488 1.316.488 2.215 0 1.62-.488 2.789-1.461 3.507-.973.723-2.215 1.082-3.727 1.082h-8.586zm14.825 22.789c-.34.648-.801 1.16-1.375 1.539a5.87 5.87 0 0 1-2 .813c-.754.16-1.547.242-2.375.242h-9.075V26.676h9.235c1.84 0 3.312.426 4.43 1.27 1.117.847 1.675 2.261 1.675 4.241-.004 1.004-.176 1.833-.515 2.481z"
            />
          </svg>
        </button>
        <button
          title="Italic"
          class="flex py-1 px-2 rounded mr-1"
          :class="{
            'bg-grey-lighter text-blue-dark': isActive.italic(),
            'text-grey-dark': !isActive.italic()
          }"
          @click="commands.italic"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 50 50"
            class="w-4 h-4 fill-current"
          >
            <path
              d="M23.11 44.852h-5.133a.991.991 0 0 1-.774-.372.996.996 0 0 1-.203-.835L25.102 5.09a.995.995 0 0 1 .976-.797h5.133c.3 0 .586.137.773.371.192.234.266.54.203.836l-8.101 38.559a1 1 0 0 1-.977.793z"
            />
          </svg>
        </button>
        <button
          title="Bullet list"
          class="flex py-1 px-2 rounded mr-1"
          :class="{
            'bg-grey-lighter text-blue-dark': isActive.bullet_list(),
            'text-grey-dark': !isActive.bullet_list()
          }"
          @click="commands.bullet_list"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 50 50"
            class="w-4 h-4 fill-current"
          >
            <path
              d="M3 7c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1h4c.55 0 1-.45 1-1V8c0-.55-.45-1-1-1zm8.813 1A2.001 2.001 0 1 0 12 12h34a1.988 1.988 0 0 0 1.754-.992 1.982 1.982 0 0 0 0-2.016A1.988 1.988 0 0 0 46 8H12a1.502 1.502 0 0 0-.188 0zM3 17c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-4c0-.55-.45-1-1-1zm8.813 1A2.001 2.001 0 1 0 12 22h34a1.988 1.988 0 0 0 1.754-.992 1.982 1.982 0 0 0 0-2.016A1.988 1.988 0 0 0 46 18H12a1.502 1.502 0 0 0-.188 0zM3 27a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1zm8.813 1A2.001 2.001 0 1 0 12 32h34a1.988 1.988 0 0 0 1.754-.992 1.982 1.982 0 0 0 0-2.016A1.988 1.988 0 0 0 46 28H12a1.502 1.502 0 0 0-.188 0zM3 37a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1zm8.813 1A2.001 2.001 0 1 0 12 42h34a1.988 1.988 0 0 0 1.754-.992 1.982 1.982 0 0 0 0-2.016A1.988 1.988 0 0 0 46 38H12a1.502 1.502 0 0 0-.188 0z"
            />
          </svg>
        </button>
        <button
          title="Ordered list"
          class="flex py-1 px-2 rounded mr-1"
          :class="{
            'bg-grey-lighter text-blue-dark': isActive.ordered_list(),
            'text-grey-dark': !isActive.ordered_list()
          }"
          @click="commands.ordered_list"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 50 50"
            class="w-4 h-4 fill-current"
          >
            <path
              d="M3.813 2.906l-2.126 1 .22 1.188L3.5 4.312v7.094h1.594v-8.5zM11 6v4h39V6zM3.687 19.688c-1.101 0-1.992.406-2.593.906l.5 1.093c.398-.3 1.011-.687 1.812-.687 1.102 0 1.5.605 1.5 1.406 0 1.102-.906 2.2-2.906 4l-1 .907v1h5.813V27h-3.5L4 26.312c1.398-1.3 2.5-2.5 2.5-4 0-1.398-.914-2.625-2.813-2.625zM11 23v4h39v-4zM3.594 36.594c-1 0-1.906.293-2.406.593l.406 1.22c.3-.2 1.02-.5 1.718-.5 1 0 1.376.491 1.376 1.093 0 .898-.989 1.188-1.688 1.188h-.688v1.218H3c1 0 1.906.407 1.906 1.407 0 .699-.52 1.374-1.718 1.374-.801 0-1.575-.3-1.876-.5l-.5 1.126c.5.3 1.375.593 2.375.593 2.102 0 3.313-1.195 3.313-2.593a2.374 2.374 0 0 0-1.906-2.126c1.101-.398 1.593-1.101 1.593-2 0-1.101-.792-2.093-2.593-2.093zM11 40v4h39v-4z"
            />
          </svg>
        </button>
        <button
          title="Heading 2"
          class="flex items-center py-1 px-2 rounded mr-1"
          :class="{
            'bg-grey-lighter text-blue-dark': isActive.heading({ level: 2 }),
            'text-grey-dark': !isActive.heading({ level: 2 })
          }"
          @click="commands.heading({ level: 2 })"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 50 50"
            class="w-4 h-4 fill-current"
          >
            <path
              d="M4 13c-.55 0-1 .45-1 1v22a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-8h6v8a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V14c0-.55-.45-1-1-1h-6c-.55 0-1 .45-1 1v8h-6v-8c0-.55-.45-1-1-1zm34.031 0C32.551 13 29 16.105 29 21a1 1 0 0 0 1 1h4.969a1 1 0 0 0 1-1v-.094c0-1.218.578-1.781 1.843-1.781 1.2 0 1.938.605 1.938 1.625 0 .805-.523 1.625-3.625 4.5l-6.813 6.375a1.033 1.033 0 0 0-.312.75V36c0 .555.445 1 1 1h16c.555 0 1-.445 1-1v-4c0-.555-.445-1-1-1h-6.906l2.375-2.031C45.492 25.375 47 23.03 47 20.344 47 16.016 43.316 13 38.031 13z"
            />
          </svg>
        </button>
        <button
          title="Heading 3"
          class="flex py-1 px-2 rounded mr-1"
          :class="{
            'bg-grey-lighter text-blue-dark': isActive.heading({ level: 3 }),
            'text-grey-dark': !isActive.heading({ level: 3 })
          }"
          @click="commands.heading({ level: 3 })"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 50 50"
            class="w-4 h-4 fill-current"
          >
            <path
              d="M7 15c-.55 0-1 .45-1 1v18a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1v-6h6v6a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V16c0-.55-.45-1-1-1h-4c-.55 0-1 .45-1 1v6h-6v-6c0-.55-.45-1-1-1zm28.594 0c-6.2 0-7.547 3.238-7.594 5.969a1 1 0 0 0 .281.718c.188.192.45.313.719.313h4c.54 0 .98-.43 1-.969.016-.46.484-1.031 1.5-1.031 1.156 0 1.594 1.113 1.594 1.375 0 .773-.633 1.625-1.563 1.625H34a1 1 0 0 0-1 1v2c0 .555.445 1 1 1h1.531c1.242 0 1.813.82 1.813 1.594 0 .82-.723 1.406-1.75 1.406-1.094 0-1.57-.516-1.594-1.031A1.014 1.014 0 0 0 33 28h-4.375a.984.984 0 0 0-.719.313.968.968 0 0 0-.281.718C27.75 31.746 29.23 35 35.531 35 40.754 35 44 32.695 44 28.969c0-2.024-.973-3.653-2.625-4.532 1.043-.91 1.625-2.308 1.625-4C43 17.035 40.223 15 35.594 15z"
            />
          </svg>
        </button>
        <button
          title="Lead paragraph"
          class="flex py-1 px-2 rounded mr-1"
          :class="{
            'bg-grey-lighter text-blue-dark': isActive.cssClass({
              class: 'text-xl'
            }),
            'text-grey-dark': !isActive.cssClass({ class: 'text-xl' })
          }"
          @click="commands.cssClass({ class: 'text-xl' })"
        >
          <svg
            viewBox="0 0 46 34"
            class="w-4 h-4 fill-current"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g>
              <path
                d="M0 22v2h46v-2zM0 32v2h46v-2zM0 0v5h46V0zM0 10v5h32v-5z"
              />
            </g>
          </svg>
        </button>
        <button
          title="Blockquote"
          class="flex py-1 px-2 rounded mr-1"
          :class="{
            'bg-grey-lighter text-blue-dark': isActive.blockquote(),
            'text-grey-dark': !isActive.blockquote()
          }"
          @click="commands.blockquote"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 50 50"
            class="w-4 h-4 fill-current"
          >
            <path
              d="M16 5C8.281 5 2 11.281 2 19v22h20V21H11v-2c0-3.86 2.242-7 5-7h1V5zm26 0c-7.719 0-14 6.281-14 14v22h20V21H37v-2c0-3.86 2.242-7 5-7h1V5z"
            />
          </svg>
        </button>
        <button
          title="Link"
          v-if="!isActive.link()"
          class="flex py-1 px-2 rounded mr-1 text-grey-dark"
          @click="addLinkOpen"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 50 50"
            class="w-4 h-4 fill-current"
          >
            <path
              d="M37 4.004c-2.305 0-4.61.878-6.365 2.633l-5 5c-2.492 2.492-3.204 6.09-2.156 9.226l3.591-3.592a4.95 4.95 0 0 1 1.393-2.806l5-5A4.993 4.993 0 0 1 37 8.002c1.28 0 2.561.488 3.535 1.463a5.006 5.006 0 0 1 0 7.07l-5 5a4.954 4.954 0 0 1-2.806 1.393l-3.594 3.593a8.974 8.974 0 0 0 9.229-2.158l5-5c3.51-3.509 3.508-9.217 0-12.726A8.975 8.975 0 0 0 37 4.004zM30.96 16.98a2 2 0 0 0-1.374.606l-12 12a2 2 0 1 0 2.828 2.828l12-12a2 2 0 0 0-1.453-3.434zm-12.51 6.043a8.957 8.957 0 0 0-6.813 2.612l-5 5c-3.51 3.509-3.51 9.22 0 12.728A8.974 8.974 0 0 0 13 45.994a8.972 8.972 0 0 0 6.363-2.633l5-5c2.492-2.492 3.206-6.09 2.158-9.226l-3.593 3.594a4.95 4.95 0 0 1-1.393 2.806l-5 5a5.004 5.004 0 0 1-7.07 0 5.006 5.006 0 0 1 0-7.07l5-5a4.96 4.96 0 0 1 2.806-1.395l3.592-3.591a9.072 9.072 0 0 0-2.414-.456z"
              overflow="visible"
            />
          </svg>
        </button>
        <button
          title="Remove link"
          v-if="isActive.link()"
          class="flex py-1 px-2 rounded mr-1 bg-grey-lighter text-blue-dark"
          @click="commands.link"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 50 50"
            class="w-4 h-4 fill-current"
          >
            <path
              d="M39.375 0a10.34 10.34 0 0 0-5.719 1.875l-8.281 5.844 2.281 3.312 8.313-5.875a6.317 6.317 0 0 1 4.75-1.062 6.352 6.352 0 0 1 4.125 2.625 6.3 6.3 0 0 1 1.062 4.75 6.362 6.362 0 0 1-2.625 4.125c-.61.43-6.71 4.71-7.125 5-1.59 1.117-3.8 1.676-6.531.468l-3.563 2.47c3.797 2.945 8.856 2.82 12.375.343.415-.29 6.555-4.605 7.157-5.031a10.286 10.286 0 0 0 4.25-6.688 10.318 10.318 0 0 0-1.719-7.75 10.337 10.337 0 0 0-6.719-4.25A10.496 10.496 0 0 0 39.375 0zM2.781.969a1.995 1.995 0 0 0-1.695 1.336 1.995 1.995 0 0 0 .508 2.101l11 11c.48.598 1.258.867 2.004.696a1.998 1.998 0 0 0 1.504-1.504 1.995 1.995 0 0 0-.696-2.004l-11-11A2.006 2.006 0 0 0 2.97.969a1.502 1.502 0 0 0-.188 0zM7.72 25.375l-5.844 8.313a10.225 10.225 0 0 0-1.719 7.718 10.337 10.337 0 0 0 4.25 6.719 10.301 10.301 0 0 0 7.75 1.719 10.286 10.286 0 0 0 6.688-4.25c.426-.602 4.742-6.742 5.031-7.157 2.477-3.519 2.602-8.546-.344-12.343l-2.468 3.531c1.207 2.73.648 4.941-.47 6.531-.288.414-4.57 6.547-5 7.157-.98 1.394-2.448 2.3-4.124 2.593a6.3 6.3 0 0 1-4.75-1.062 6.352 6.352 0 0 1-2.625-4.125 6.317 6.317 0 0 1 1.062-4.75l5.875-8.313z"
            />
          </svg>
        </button>
      </div>
    </editor-menu-bar>

    <div class="-mt-3 p-4 rounded-lg border-2 border-dashed text-grey italic hover:border-blue hover:text-blue" v-if="empty && !selected">
      Write something brilliant&hellip;
    </div>
    <editor-content v-if="selected || !empty" :editor="editor" class="select-text ml-3 p-3 outline-none" />
  </section>
</template>

<script>
import { Editor, EditorContent, EditorMenuBar, EditorMenuBubble } from "tiptap";
import {
  Blockquote,
  BulletList,
  HardBreak,
  Heading,
  ListItem,
  OrderedList,
  Bold,
  Italic,
  Underline,
  History,
  Placeholder
} from "tiptap-extensions";
import Link from "./LinkMark";
import CssClass from "./ClassMark";
import Popper from "popper.js";

export default {
  name: "Content",
  icon: "streamline/regular/paragraph-normal",

  components: {
    EditorContent,
    EditorMenuBar,
    EditorMenuBubble
  },

  props: {
    field: {
      required: true
    },
    value: {
      required: true
    },
    selected: {
      type: Boolean,
      default: true
    }
  },

  data: () => ({
    content: "",
    editor: null,
    editLink: false,
    addLink: {
      open: false,
      href: null,
      target: null
    },
    linkPopper: null,
    linkInspector: null
  }),

  computed: {
    empty() {
      return !this.editor || !this.editor.getHTML() || this.editor.getHTML() === "<p></p>";
    }
  },

  mounted() {
    if (!this.value) {
      this.$emit('input', "");
    }

    this.editor = new Editor({
      extensions: [
        new Blockquote(),
        new BulletList(),
        new HardBreak(),
        new Heading({ levels: [2, 3, 4] }),
        new ListItem(),
        new OrderedList(),
        new Bold(),
        new Italic(),
        new Link(),
        new CssClass(),
        new Underline(),
        new History(),
        new Placeholder()
      ],

      content: this.value || "",

      onUpdate: state => {
        this.content = state.getHTML();
        this.$emit('input', state.getHTML());
      },

      onInit: () => {
        this.$nextTick(() => {
          this.linkPopper = new Popper(
            this.$refs.linkPopperPosition,
            this.$refs.linkPopper,
            {
              placement: "top"
            }
          );

          this.linkInspector = new Popper(
            this.$refs.linkPopperPosition,
            this.$refs.linkInspector,
            {
              placement: "bottom"
            }
          );
        });
      }
    });
  },

  beforeDestroy() {
    this.editor.destroy();
  },

  methods: {
    setLink(command, link) {
      command(link);
      this.editLink = false;
      this.resetAddLink();
    },

    addLinkOpen() {
      this.resetAddLink();
      this.addLink.open = true;
      this.$nextTick(() => {
        this.linkPopper.update();
        this.linkInspector.update();
        this.$refs.addLinkUrl.focus();
      });
    },

    resetAddLink() {
      this.addLink = { href: null, target: null, open: false };
    }
  },

  watch: {
    "value": function(value) {
      if (value === this.content) {
        return false;
      }

      this.editor.setContent(value || "");
    },

    "editor.state.selection": function() {
      this.resetAddLink();
      if (this.linkPopper && this.linkInspector) {
        this.linkPopper.update();
        this.linkInspector.update();
      }
    },

    selected: function(value) {
      if(value) {
        this.editor.focus()
      }
    }
  }
};
</script>
