<template>
  <button v-on="$listeners"
          class="flex-inline items-center justify-center
          px-3 py-2 rounded
          text-center leading-none"
          :class="cssClasses"
          :disabled="disabled"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: {
    disabled: {
      default: false,
      type: Boolean
    },
    type: {
      default: "border"
    },
    color: {
      default: "blue"
    },
    hover: {},
    subtle: {
      default: false,
      type: Boolean
    },
    slim: {
      default: false,
      type: Boolean
    },
    tooltip: {
      default: ""
    }
  },

  computed: {
    _hover() {
      return this.hover || `${this.color}-dark`;
    },

    cssClasses() {
      let styles = {
        border: [
          "border",
          "bg-white",
          "text-grey-darkest",
          `hover:border-${this.color}`,
          `hover:text-${this.color}`
        ],

        solid: [`bg-${this.color}`, "text-white", `hover:bg-${this._hover}`],
        text: this.subtle
          ? [`text-grey`, "hover:text-white", `hover:bg-${this._hover}`]
          : [`text-${this.color}`, `hover:text-${this._hover}`]
      };

      let classes = styles[this.type];
      classes.push(this.slim ? "null" : "leading-normal");

      this.disabled ? classes.push('opacity-50 cursor-not-allowed pointer-events-none') : null;

      return classes;
    }
  }
};
</script>
