<template>
  <div class="flex items-center justify-between">
    <v-date-picker
      v-model="date"
      :popover="{ visibility: 'click', placement: 'bottom end' }"
      :is-dark="dark"
    >
      <button
        ref="pickButton"
        class="p-3 text-blue"
        :class="{ 'text-blue-light italic': !date }"
      >
        {{ formattedDate || "Pick a date" }}
      </button>
    </v-date-picker>
    <div>
      <input-number dark class="w-12 text-sm p-1 text-center leading-none" v-model="hour"></input-number> :
      <input-number dark class="w-12 text-sm p-1 text-center leading-none" v-model="minute"></input-number>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  props: {
    value: {
      required: true
    },
    placeholder: {
      default: null
    },
    format: {
      default: "YYYY-MM-DD"
    },
    dark: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    date: {
      get() {
        return this.value;
      },

      set(value) {
        this.$emit("input", value);
      }
    },

    hour: {
      get() {
        return moment(this.date).format('HH');
      },

      set(value) {
        this.date = moment(this.value).hours(value).toDate();
      }
    },

    minute: {
      get() {
        return moment(this.date).format('mm');
      },

      set(value) {
        this.date = moment(this.value).minutes(value).toDate();
      }
    },

    formattedDate() {
      return this.date ? moment(this.date).format(this.format) : null;
    }
  }
};
</script>
