<template>
  <el-select
    v-if="multiple"
    v-bind:value="value"
    v-on="$listeners"
    multiple size="small"
    class="w-full"
    :class="style"
    :placeholder="placeholder">
    <el-option v-if="options"
               v-for="(label, value) in options" :key="value"
               :label="label" :value="value">
    </el-option>
  </el-select>
  <select v-else v-bind:value="value" v-on="inputListeners"
          class="block appearance-none p-2 rounded flex-grow border border-transparent focus:border-blue outline-none"
          :class="style">
    <option v-if="options"
            v-for="(label, value) in options" :key="value"
            :value="value">{{label}}
    </option>
  </select>
</template>

<script>
export default {
  props: {
    value: {
      required: true
    },
    options: {
      default: null
    },
    multiple: {
      default: false,
      type: Boolean
    },
    placeholder: {
      default: null
    },
    dark: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    inputListeners: function() {
      let vm = this;
      return Object.assign({}, this.$listeners, {
        input: function(event) {
          vm.$emit("input", event.target.value);
        }
      });
    },

    style() {
      return this.dark
        ? "bg-grey-darker text-white"
        : "bg-grey-lightest text-grey-darkest";
    }
  }
};
</script>
