<template>
  <input
    type="checkbox"
    class="input-switch"
    :true-value="trueValue"
    :false-value="falseValue"
    :value="value"
    :checked="value === trueValue"
    @change="change"
    @click="$event.target.focus()"
  />
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    value: {
      required: true
    },
    trueValue: {
      default: true
    },
    falseValue: {
      default: false
    }
  },

  methods: {
    change: function(event) {
      this.$emit(
        "input",
        event.target.checked ? this.trueValue : this.falseValue
      );
    }
  }
};
</script>
