<template>
  <input-text
    type="number"
    :value="value"
    v-on="$listeners"
    :dark="dark"
  ></input-text>
</template>

<script>
export default {
  props: {
    value: {
      required: true
    },
    dark: {
      type: Boolean,
      default: false
    }
  }
};
</script>
