<template>
  <textarea
    v-if="multiline"
    v-bind="$attrs"
    v-bind:value="value"
    v-on="inputListeners"
    class="p-2 rounded flex-grow border border-transparent focus:border-blue outline-none"
    :class="style"
  ></textarea>
  <input
    v-else
    v-bind="$attrs"
    v-bind:value="value"
    v-on="inputListeners"
    class="p-2 rounded flex-grow border border-transparent focus:border-blue outline-none"
    :class="style"
  >
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    value: {},
    multiline: {
      type: Boolean,
      default: false
    },
    dark: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    inputListeners: function() {
      let vm = this;
      return Object.assign({}, this.$listeners, {
        input: function(event) {
          vm.$emit("input", event.target.value);
        }
      });
    },

    style() {
      return this.dark ? "bg-grey-darker text-white" : "bg-grey-lightest text-grey-darkest";
    }
  }
};
</script>
