<template>
  <ui-modal
    key="ui-modal"
    :is-open.sync="modalIsOpen"
    :open-delay="100"
    :close-delay="50"
  >
    <transition name="appear" appear slot-scope="{ close }">
      <div
        class="modal-grid bg-white rounded-lg shadow-lg max-w-xl overflow-hidden"
        :class="[dialogClass, { 'p-4': !noPadding }]"
        v-if="isOpen"
      >
        <header
          class="modal-header flex items-center justify-between"
        >
          <slot name="header" :close="close">
            <span
              class="inline-block rounded-full p-2 mr-2"
              :class="`bg-${color}-lightest text-${color}`"
            >
              <svg-icon v-if="icon" :name="icon" class="w-6 fill"></svg-icon>
            </span>
            <slot name="controls">
              <input-button type="text" color="grey" @click="close">
                <svg-icon name="bold/close" class="fill w-4"></svg-icon>
              </input-button>
            </slot>
          </slot>
        </header>
        <section class="modal-main my-4 text-grey-darker">
          <p class="mb-1 font-bold text-black" v-if="title">
            {{ title }}
          </p>
          <slot></slot>
        </section>
        <footer
          slot="footer"
          class="modal-footer justify-between whitespace-no-wrap text-right"
        >
          <slot name="footer" :close="close"></slot>
        </footer>
      </div>
    </transition>
  </ui-modal>
</template>

<script>
export default {
  props: {
    isOpen: {
      default: false
    },
    title: {
      default: null
    },
    icon: {
      default: null
    },
    color: {
      default: "blue"
    },
    dialogClass: {
      default: null
    },
    noPadding: {
      default: false,
      type: Boolean
    }
  },

  computed: {
    modalIsOpen: {
      get() {
        return this.isOpen;
      },
      set(isOpen) {
        return this.$emit("update:isOpen", isOpen);
      }
    }
  }
};
</script>
