<template>
  <span
    v-if="label"
    class="flex items-center px-4 py-2 text-grey"
  >
    <slot></slot>
  </span>
  <button
    v-else
    v-on="$listeners"
    class="flex items-center px-4 py-2 text-white text-left"
    :class="hoverClass"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: {
    label: {
      type: Boolean,
      default: false
    },
    hoverClass: {
      default: 'hover:bg-blue hover:text-white '
    }
  }
};
</script>
