<template>
  <nav
    class="flex flex-col bg-black-90 border border-grey-darkest rounded shadow-md overflow-hidden text-left text-sm transition-fast"
  >
    <slot></slot>
  </nav>
</template>

<script></script>
