<template>
  <portal to="modals">
    <transition name="fade" appear>
      <div
        class="fixed bg-black-90 pin flex items-center justify-center p-2 z-30"
        v-if="backdropActive"
      >
        <slot v-if="slotActive" :is-open="slotActive" :close="close"></slot>
      </div>
    </transition>
  </portal>
</template>

<script>
export default {
  name: "ui-modal",
  inheritAttrs: false,

  props: {
    isOpen: {
      default: false
    },
    openDelay: {
      default: 0
    },
    closeDelay: {
      default: 0
    }
  },

  data: () => ({
    backdropActive: false,
    slotActive: false
  }),

  methods: {
    close() {
      this.$emit("update:isOpen", false);
    }
  },

  watch: {
    isOpen(open) {
      if (open) {
        this.backdropActive = true;
        setTimeout(() => (this.slotActive = true), this.openDelay);
      }

      if (!open) {
        this.slotActive = false;
        setTimeout(() => (this.backdropActive = false), this.closeDelay);
      }
    }
  }
};
</script>
