<template>
  <section v-click-outside="close">
    <slot name="target" :open="open" :toggle="toggle"></slot>
    <div ref="popover" class="z-20">
      <transition name="appear">
        <slot v-if="open"></slot>
      </transition>
    </div>
  </section>
</template>

<script>
import Popper from "popper.js";

export default {
  name: "ui-popover",
  inheritAttrs: false,

  props: {
    placement: {
      default: null
    }
  },

  data: () => ({
    popper: null,
    open: false
  }),

  methods: {
    toggle() {
      this.open = !this.open;
      this.popper.update();
    },

    close() {
      this.open = false;
    }
  },

  mounted() {
    if (this.$el && this.$refs.popover) {
      this.popper = new Popper(this.$el, this.$refs.popover, {
        placement: this.placement
      });
    }
  }
};
</script>
