<template>
  <input-text
    v-model="model"
    :placeholder="placeholder"
    class="w-full"
    :class="field.editor_class"
    v-on="$listeners"
    :multiline="multiline"
  ></input-text>
</template>

<script>
import { get } from "lodash";

export default {
  name: "TextField",
  icon: "regular/typing",

  defaultConfig: {
    name: "",
    description: "",
    required: false,
    placeholder: ""
  },

  props: {
    field: {
      required: true
    },
    value: {
      required: true
    }
  },

  computed: {
    model: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      }
    },

    placeholder() {
      return this.field.placeholder || null;
    },

    multiline() {
      return get(this.field, "multiline");
    }
  }
};
</script>
