<template>
  <ui-dialog
    :is-open="isOpen"
    v-on="$listeners"
    dialog-class="w-4/5 h-full max-h-lg pt-2"
    no-padding
  >
    <template v-slot:header="{ close }" class="p-4">
      <section class="flex items-center justify-between w-full px-4">
        <span>
          <svg-icon name="regular/documents" class="w-6 mr-2"></svg-icon>
          Document Browser
        </span>
        <span>
          <input-text
            placeholder="Search documents"
            class="w-48 focus:w-64 transition transition-fast transition-property-all"
            v-model="searchQuery"
          />
          <input-button type="text" color="grey" @click="close">
            <svg-icon name="bold/close" class="fill w-4"></svg-icon>
          </input-button>
        </span>
      </section>
    </template>

    <documents-loader
      ref="documentsLoader"
      :group-id="groupId"
      :search-query="searchQuery"
      v-slot="{
        groups,
        documents,
        currentGroup,
        currentPage,
        lastPage,
        loadNextPage
      }"
    >
      <document-list
        :documents="documents"
        :groups="currentGroup ? currentGroup.children : []"
        :current-page="currentPage"
        :last-page="lastPage"
        :set-identifier="searchQuery"
        @next-page="loadNextPage"
        @open-group="openGroup"
        @open-document="openDocument"
      />
    </documents-loader>
  </ui-dialog>
</template>

<script>
import DocumentsLoader from "../../DocumentsLoader";
import DocumentList from "../../DocumentList";
import { debounce } from "lodash";

export default {
  name: "DocumentBrowserModal",
  components: { DocumentsLoader, DocumentList },
  props: {
    groupId: {
      type: Number,
      default: null
    },
    isOpen: {
      default: false
    }
  },

  data: () => ({
    searchQuery: null
  }),

  methods: {
    openGroup(group) {
      this.groupId = group.id;
    },

    openDocument(document) {
      this.$emit("select-document", document);
      this.$emit("update:isOpen", false);
    }
  },

  watch: {
    searchQuery: debounce(function() {
      this.$refs.documentsLoader.reset();
      this.$refs.documentsLoader.loadNextPage();
    }, 600)
  }
};
</script>
