<template>
  <div class="p-3" v-if="model">

    <ul class="list-reset my-3">
      <li v-for="document in documents"
        class="flex justify-between items-center px-2 py-1 border-grey-lighter border-b hover:bg-blue-lightest">
        {{ document.name }}
        <input-button type="text" color="red" @click="removeDocument(document)">
          <svg-icon name="bold/close" class="fill w-3"></svg-icon>
        </input-button>
      </li>
    </ul>

    <input-button
      slim
      @click="documentBrowserIsOpen = true"
      v-if="!field.max_documents || model.length < field.max_documents"
    >
      {{ placeholder }}
    </input-button>

    <document-browser-modal
      :is-open.sync="documentBrowserIsOpen"
      :group-id="field.group"
      @select-document="addDocument"
    />
  </div>
</template>

<script>
import { isArray, uniq, intersectionWith } from "lodash";
import DocumentBrowserModal from "./DocumentBrowserModal";
import Document from "../../../models/Document";
import DocumentList from "../../DocumentList";

export default {
  name: "DocumentField",
  icon: "regular/document",

  components: {
    DocumentList,
    DocumentBrowserModal
  },

  inject: ["document"],

  props: {
    field: {
      required: true
    },
    value: {
      required: true
    },
    placeholder: {
      default: "Select a document"
    }
  },

  data: () => ({
    documentBrowserIsOpen: false,
    selectedDocuments: []
  }),

  computed: {
    model: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      }
    },

    documents: {
      get() {
        return intersectionWith(
          this.document().documents,
          this.model,
          (document, id) => document.id === id
        );
      }
    }
  },

  methods: {
    addDocument(document) {
      this.model.push(document.id);
      this.document().attachDocument(document);
    },

    removeDocument(document) {
      this.model.splice(this.model.indexOf(document), 1);
      this.document().removeDocument(document);
    }
  },

  created() {
    if (!isArray(this.model)) {
      this.model = [this.model];
    }

    if (!this.document().documents) {
      this.document().documents = [];
    }
  }
};
</script>
