<template>
  <div class="p-3" v-if="model">
    <file-list :files="model" removable>
      <div
        slot="lastItem"
        key="addMedia"
        ref="addMedia"
        v-if="!field.max_files || model.length < field.max_files"
        class="relative h-full w-full flex flex-col items-center justify-center py-2 px-3 bg-grey-lightest rounded-lg"
      >
        <input-button
          type="text"
          color="grey-darkest"
          hover="blue"
          class="whitespace-no-wrap cursor-pointer"
        >
          <file-upload
            @upload-complete="addFile"
            :drop="$refs.addMedia"
            :drop-overlay="false"
            :path="path"
            class="w-full text-sm"
          >
            <svg-icon
              name="bold/upload-bottom"
              class="w-4 h-4 fill mr-1"
            ></svg-icon>
            Upload file
          </file-upload>
        </input-button>

        <input-button
          @click="mediaBrowserOpen = true"
          class="w-full mb-1 text-sm"
        >
          <svg-icon name="bold/media" class="fill w-4 h-4 mr-1"></svg-icon>
          Browse
        </input-button>
      </div>
    </file-list>

    <media-browser-modal
      :is-open.sync="mediaBrowserOpen"
      :init-path="path"
      @select-file="addFile"
      key="media-browser"
    ></media-browser-modal>
  </div>
</template>

<script>
import { isArray, get } from "lodash";
import MediaBrowserModal from "../../MediaBrowserModal";
import FileList from "../../FileList";
import FileUpload from "../../FileUpload";

export default {
  name: "Media",
  icon: "streamline/regular/picture-polaroid",

  components: {
    FileUpload,
    MediaBrowserModal,
    FileList
  },

  props: {
    field: {
      required: true
    },
    value: {
      required: true
    }
  },

  data: () => ({
    mediaBrowserOpen: false
  }),

  computed: {
    model: {
      get() {
        return this.value;
      },

      set(value) {
        this.$emit("input", value);
      }
    },

    path() {
      return get(this.field, "options.path", null);
    }
  },

  methods: {
    addFile(file) {
      this.model.push(file);
    },

    removeFile(id) {
      this.$delete(this.model, id);
    }
  },

  created() {
    if (!isArray(this.value)) {
      this.$emit("input", []);
    }
  }
};
</script>
