<template>
  <input-switch v-model="model"></input-switch>
</template>

<script>
import { get } from "lodash";

export default {
  name: "SwitchField",
  icon: "regular/switch",

  defaultConfig: {
    name: "",
    description: "",
    required: false
  },

  props: {
    field: {
      required: true
    },
    value: {
      required: true
    }
  },

  computed: {
    model: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      }
    },

    placeholder() {
      return this.field.placeholder || null;
    }
  }
};
</script>
