/*

*/
.animation-gentle {
  transition: all 0.3s cubic-bezier(0.39, 0.68, 0.46, 1.3);
}

/*
  ROTATE 45
*/
.turn-45 {
  transform: rotate(45deg);
}

/*
  FADE
*/
.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s ease-in-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
/*
  POP
*/
.pop-enter-active {
  transition: all 0.2s cubic-bezier(0.39, 0.68, 0.46, 1.3);
  transition-delay: 0.1s;
}
.pop-enter {
  transform: scale(0);
}
.pop-leave-active {
  transition: all 0.1s;
}
.pop-leave-to {
  transform: scale(0.1);
}
.pop-move {
  transition: all 0.3s;
}

/*
  APPEAR
*/
.appear-enter-active {
  transition: all 0.3s cubic-bezier(0.39, 0.68, 0.46, 1.3);
  @apply rounded shadow;
}
.appear-leave-active {
  transition: all 0.2s cubic-bezier(0.39, 0.68, 0.46, 1.3);
  @apply rounded shadow;
}
.appear-enter,
.appear-leave-to {
  transform: scale(0.98) translateY(5px);

  opacity: 0;
}

/*
  ROLL DOWN
*/
.down-enter-active,
.down-leave-active {
  @apply animation-gentle;
}
.down-enter,
.down-leave-to {
  overflow: hidden;

  max-height: 0;
}
.down-enter-to,
.down-leave {
  max-height: 500px;
}

/*
  Slide in
*/
.slide-enter-active {
  transition: all 0.3s cubic-bezier(.59,.52,.37,.97);
}
.slide-enter {
  transform: translateX(100%);
}
.slide-leave-active {
  transition: all 0.2s;
}
.slide-leave-to {
  transform: translateX(100%);
}
