.document {
  @apply flex flex-col items-center justify-center bg-white border rounded shadow no-underline text-grey-darker overflow-hidden relative;
  height: 134px;
  width: 100px;
  transition: box-shadow 0.15s ease;

  &:hover {
    @apply shadow-md cursor-pointer text-blue;
  }
}

.folder {
  @apply bg-blue-light rounded-b rounded-r shadow no-underline text-grey-darker border-t-2 border-blue;
  width: 124px;
  height: 85px;

  transition: box-shadow 0.15s ease;

  &::before {
    @apply block w-8 h-2 bg-blue rounded-t;
    content: "";
    transform: translateY(-0.5rem);
  }

  &:hover {
    @apply shadow-md cursor-pointer;
  }
}
