.divider {
  @apply flex items-center;

  &::before {
    content: "";
    @apply flex-grow mr-1 border-b border-grey-darker;
  }

  &::after {
    content: "";
    @apply flex-grow ml-1 border-b border-grey-darker;
  }
}
