.input-switch {
  @apply inline-flex items-center w-12 h-6 appearance-none bg-grey-light rounded-full align-middle;

  &:focus {
    @apply shadow-outline;
  }

  &:after {
    @apply bg-white border border-grey-light shadow w-6 h-full rounded-full;
    content: '';
    transition: all .2s ease-in-out;
  }

  &:checked {
    @apply bg-green;

    &:after {
      @apply ml-6;
    }
  }
}
