.item-grid {
  display: grid;
  align-items: center;

  grid-template-columns: repeat(auto-fill, minmax(config("width.32"), 1fr));
  grid-auto-rows: calc(config("width.32") + config("width.8"));
  grid-gap: config("margin.4");
  justify-items: center;
}
