.modal-grid {
  display: grid;

  grid-template-rows: 50px auto 40px;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.modal-header {
  align-self: stretch;

  grid-area: header;
  justify-self: stretch;
}

.modal-main {
  overflow: auto;

  grid-area: main;
}

.modal-footer {
  display: flex;
  align-items: center;

  grid-area: footer;
}
