.notifications {
  .pop-leave-active {
    transform: translate3d(0, -80px, 0) scale3d(0, 0, 0);
  }

  .milk-ui-notification {
    @apply m-2 rounded shadow overflow-hidden;

    .notification-title {
      @apply py-3 px-5 text-base font-bold text-white bg-black-90;
    }

    .notification-content:not(:empty) {
      @apply py-4 px-5 text-sm text-white bg-black-90;
    }

    &.warning {
      .notification-title {
        @apply bg-orange-90;
      }
    }
  }
}
