.default-screen {
  @apply absolute pin h-screen bg-white;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: config("height.16") auto;
  grid-template-areas: "header" "main";
}

.grid-header {
  grid-area: header;
  align-items: stretch;
}

.grid-main {
  grid-area: main;
  overflow: auto;
}
