.tabs {
  @apply flex border-b border-grey-darker;
}

.tab {
  @apply flex-grow py-3 px-4 -mb-px text-grey-light border-b-2 border-transparent;

  &:focus {
    @apply outline-none;
  }
}

.tab-selected {
  @apply text-blue-light border-blue;
}

.pills {
  .tabs {
    @apply border-none;
  }

  .tab {
    @apply py-1 px-2 rounded border-none;
  }

  .tab-selected {
    @apply bg-blue-light text-blue-lightest;
  }
}

.muted .tab-selected {
  @apply bg-grey-dark text-grey-lightest;
}
