.ProseMirror {
  @apply outline-none;

  h1:not(:last-child),
  h2:not(:last-child),
  h3:not(:last-child),
  h3:not(:last-child) {
    @apply mb-2;
  }

  p:not(:last-child),
  ul:not(:last-child),
  ol:not(:last-child),
  blockquote:not(:last-child) {
    @apply mb-4;
  }

  blockquote {
    @apply p-1 pl-3 border-l-4;
  }

  a {
    @apply text-blue;
  }

  p.is-empty:first-child::before {
    @apply pointer-events-none float-left text-grey italic;
    content: "Write something brilliant…";
    height: 0;
  }
}

.selected-field {
  .editor-menu-bubble {
    @apply visible;
  }
}
